In [2]:
import pandas as pd

In [8]:
pd.read_csv('data/Case_file.txt',delimiter='\t')

          patid  pracid  gender  birthyear   indexdate
0          1166     166       2       1917  02/05/2003
1          1633     633       2       1927  14/01/2011
2          2014      14       2       1922  04/04/2003
3          2477     477       2       1931  07/12/2009
4          3483     483       1       1920  20/06/2007
5          4383     383       2       1913  11/09/2002
6          4511     511       2       1920  19/04/2006
7          4625     625       2       1937  09/02/2012
8          4657     657       2       1921  13/07/2010
9          4670     670       2       1934  27/03/2012
10         5427     427       2       1920  24/05/2006
11         6156     156       1       1933  28/08/2011
12         6365     365       1       1930  11/08/2008
13         6579     579       1       1930  08/03/2012
14         6588     588       1       1926  22/05/2008
15         7256     256       2       1910  01/02/2002
16         7301     301       2       1929  25/10/2011
17         7394     394       2       1918  25/07/2005
18         7476     476       2       1922  25/03/2009
19         7654     654       2       1930  20/02/2009
20         8111     111       2       1928  01/10/2007
21         8539     539       1       1925  01/02/2010
22         8667     667       1       1920  26/10/2009
23         9270     270       2       1930  29/03/2011
24         9385     385       2       1929  27/02/2007
25         9416     416       1       1914  09/10/2001
26         9609     609       2       1926  23/01/2008
27        10590     590       2       1924  11/12/2001
28        10647     647       1       1940  08/04/2011
29        11257     257       1       1925  28/01/2011
...         ...     ...     ...        ...         ...
47828  60984229     229       2       1926  30/10/2006
47829  61750470     470       1       1926  05/11/2010
47830  63057229     229       2       1916  24/02/2009
47831  63773470     470       2       1918  21/05/2012
47832  63832229     229       1       1920  13/01/2006
47833  63994229     229       2       1918  23/08/2006
47834  64169229     229       2       1923  15/09/2009
47835  64436470     470       2       1925  10/05/2012
47836  64703229     229       2       1932  13/12/2006
47837  66224229     229       2       1908  08/05/2006
47838  68001229     229       2       1937  24/01/2011
47839  68196229     229       2       1919  20/12/2010
47840  68877229     229       2       1925  08/01/2008
47841  69100229     229       2       1926  13/12/2011
47842  69656229     229       1       1939  03/03/2011
47843  70722229     229       2       1939  29/09/2011
47844  71443229     229       2       1924  13/08/2010
47845  72893229     229       2       1930  30/11/2010
47846  73035229     229       2       1934  19/04/2010
47847  73592229     229       2       1935  02/03/2011
47848  73609229     229       1       1925  21/05/2012
47849  73647229     229       2       1922  09/02/2010
47850  73871229     229       2       1925  25/09/2009
47851  74938229     229       1       1927  05/02/2010
47852  75108229     229       1       1926  08/04/2010
47853  75368229     229       2       1940  17/02/2010
47854  75633229     229       2       1932  21/03/2011
47855  76559229     229       2       1919  04/10/2010
47856  77707229     229       1       1927  12/04/2011
47857  77718229     229       1       1920  26/07/2011

[47858 rows x 5 columns]