In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
cd ~/demres

/Users/zurfarosa/demres

In [3]:
import os
import sys

module_path = os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.append(module_path)

import pandas as pd
import numpy as np
from datetime import date, timedelta

import demres
from demres.common.constants import entry_type
from demres.common import codelists
from demres.common.process_pt_features import *
from demres.common.process_entries import *
from demres.demins.constants import Study_Design

In [26]:
# create_pegmed()

In [27]:
# create_pegprod()

In [5]:
# create_prescriptions()

In [7]:
# create_consultations()

In [9]:
# create_clinicals()

In [12]:
# create_tests()

In [14]:
# create_referrals()

In [17]:
# create_immunisations()

In [34]:
# create_medcoded_entries()

In [4]:
all_entries = get_all_entries()

In [5]:
pt_features = create_pt_features()

In [6]:
pt_features = get_index_date_and_caseness_and_add_final_dementia_subtype(all_entries,pt_features)

In [7]:
pt_features = add_data_start_and_end_dates(all_entries,pt_features)

/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/site-packages/pandas/core/indexing.py:297: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[key] = _infer_fill_value(value)
/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/site-packages/pandas/core/indexing.py:477: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [8]:
pt_features.sample(5)

,patid,gender,yob,pracid,index_date,isCase,final dementia medcode,data_start,data_end
66865,3671451,2,1927,451,2002-09-17,True,6578.0,1999-11-16,2003-06-23
57181,1879384,2,1933,384,2008-08-18,True,6578.0,1999-10-22,2010-02-02
5486,8216036,2,1921,036,NaT,False,NaN,1999-10-11,2013-04-18
15163,5921109,1,1934,109,2008-05-13,True,54505.0,1997-08-28,2012-06-07
45821,12473302,2,1938,302,2011-12-02,True,7664.0,2001-11-19,2013-05-17

In [21]:
len(pt_features[pt_features['isCase']==True]),len(pt_features[pt_features['isCase']==False])

In [10]:
backup = pt_features
# pt_features = backup

In [11]:
years_after = Study_Design.years_of_data_after_index_date_required_by_controls
years_before = Study_Design.total_years_required_pre_index_date
pt_features = match_cases_and_controls(pt_features,req_yrs_post_index=years_after,req_yrs_pre_index=years_before)

In [12]:
pt_features

,patid,gender,yob,pracid,index_date,isCase,final dementia medcode,data_start,data_end,matchid
73502,3960487,1,1920,487,NaT,False,NaN,2005-01-12,2005-01-12,NaN
92412,4685662,2,1918,662,NaT,False,NaN,2006-05-19,2006-05-19,NaN
46078,19452304,2,1923,304,NaT,False,NaN,2011-10-20,2011-10-20,NaN
91364,3554656,1,1934,656,2008-01-17,True,4693.0,2011-09-12,2011-09-12,NaN
92411,4654662,2,1916,662,NaT,False,NaN,2006-05-19,2006-05-19,NaN
91365,3633656,2,1929,656,2010-07-30,True,7664.0,2011-09-12,2011-09-12,NaN
92696,5361664,2,1915,664,NaT,False,NaN,2006-05-04,2006-05-04,NaN
91362,3432656,1,1930,656,NaT,False,NaN,2011-09-12,2011-09-12,NaN
46077,19451304,2,1916,304,2002-03-28,True,1350.0,2011-10-20,2011-10-20,NaN
90922,10692652,1,1917,652,2006-08-18,True,4693.0,2010-10-22,2010-10-22,NaN
91367,3698656,2,1912,656,NaT,False,NaN,2011-09-12,2011-09-12,NaN
91368,3788656,2,1933,656,2008-05-15,True,1917.0,2011-09-12,2011-09-12,NaN
92408,4398662,1,1914,662,NaT,False,NaN,2006-05-19,2006-05-19,NaN
92703,6212664,2,1915,664,2005-04-01,True,1350.0,2006-05-04,2006-05-04,NaN
92704,6564664,2,1913,664,NaT,False,NaN,2006-05-04,2006-05-04,NaN
90923,10830652,1,1926,652,2005-10-16,True,4693.0,2010-10-22,2010-10-22,NaN
89673,4280642,2,1917,642,NaT,False,NaN,2010-08-13,2010-08-13,NaN
92687,4619664,2,1912,664,2005-10-17,True,1917.0,2006-05-04,2006-05-04,NaN
89662,3482642,1,1925,642,2006-05-31,True,7323.0,2010-08-13,2010-08-13,NaN
89656,3222642,2,1914,642,NaT,False,NaN,2010-08-13,2010-08-13,NaN
78451,31711524,2,1922,524,2004-08-02,True,4693.0,2008-11-01,2008-11-01,NaN
46082,19606304,1,1917,304,NaT,False,NaN,2011-10-20,2011-10-20,NaN
46081,19592304,2,1913,304,NaT,False,NaN,2011-10-20,2011-10-20,NaN
46080,19578304,2,1916,304,2003-05-23,True,11175.0,2011-10-20,2011-10-20,NaN
78455,33134524,2,1915,524,2003-08-14,True,4693.0,2008-11-01,2008-11-01,NaN
91359,3023656,2,1929,656,2008-03-21,True,1917.0,2011-09-12,2011-09-12,NaN
78456,33597524,2,1931,524,NaT,False,NaN,2008-11-01,2008-11-01,NaN
78458,34514524,1,1918,524,NaT,False,NaN,2008-11-01,2008-11-01,NaN
78459,34752524,2,1917,524,2004-06-03,True,4693.0,2008-11-01,2008-11-01,NaN
46079,19500304,1,1928,304,2009-03-10,True,1917.0,2011-10-20,2011-10-20,NaN
...,...,...,...,...,...,...,...,...,...,...
73688,7892488,2,1921,488,NaT,False,NaN,1995-02-17,2013-04-12,NaN
73711,15195488,1,1939,488,2009-02-15,True,1916.0,1995-02-17,2013-04-12,73711.0
73689,8580488,1,1931,488,2011-11-09,False,NaN,1995-02-17,2013-04-15,73701.0
73696,10620488,2,1929,488,2012-01-25,False,NaN,1995-02-17,2013-04-15,73721.0
73707,13292488,1,1925,488,NaT,False,NaN,1995-02-17,2013-04-16,NaN
73713,16116488,2,1935,488,NaT,False,NaN,1995-02-17,2013-04-16,NaN
73718,17517488,1,1939,488,2012-01-23,False,NaN,1995-02-17,2013-04-17,73684.0
73676,2194488,2,1926,488,2003-08-03,True,1916.0,1995-02-17,2013-04-17,NaN
73714,16606488,1,1942,488,2012-04-12,False,NaN,1995-02-17,2013-04-17,73687.0
73715,16816488,2,1922,488,2010-01-01,True,1916.0,1995-02-17,2013-04-17,73715.0
50920,2053336,1,1942,336,2009-05-05,False,NaN,1994-12-10,2013-02-22,50913.0
50897,1091336,2,1927,336,2010-04-20,False,NaN,1994-12-10,2013-03-05,50930.0
50911,1701336,1,1923,336,2009-01-19,False,NaN,1994-12-09,2013-03-28,50901.0
50886,584336,1,1922,336,2010-10-20,True,1350.0,1994-12-09,2013-04-24,NaN
50904,1421336,1,1930,336,2011-09-26,True,8195.0,1994-12-09,2013-04-24,50904.0
50909,1562336,2,1920,336,2008-10-08,False,NaN,1994-12-09,2013-04-25,50892.0
50891,755336,2,1938,336,2012-01-19,True,1917.0,1994-12-09,2013-05-02,50891.0
50907,1503336,1,1930,336,2011-09-26,False,NaN,1994-12-09,2013-05-07,50904.0
50922,2297336,1,1930,336,NaT,False,NaN,1994-12-09,2013-05-07,NaN
50898,1130336,2,1938,336,2012-01-19,False,NaN,1994-12-10,2013-05-09,50891.0
50912,1716336,2,1921,336,2007-07-31,False,NaN,1994-12-09,2013-05-09,50883.0
50899,1188336,1,1938,336,2012-05-09,False,NaN,1994-12-09,2013-05-13,50881.0
50913,1737336,1,1942,336,2009-05-05,True,1917.0,1994-12-09,2013-05-14,50913.0
50900,1220336,2,1928,336,2010-12-08,False,NaN,1994-12-09,2013-05-15,50925.0
50906,1497336,2,1928,336,2011-07-11,False,NaN,1994-12-09,2013-05-16,50924.0
50889,715336,2,1930,336,2008-09-04,False,NaN,1994-12-09,2013-05-20,50882.0
50887,689336,1,1927,336,2012-04-19,True,1350.0,1994-12-10,2013-05-21,NaN
50895,1033336,1,1928,336,NaT,False,NaN,1994-12-09,2013-05-21,NaN
50881,136336,1,1938,336,2012-05-09,True,1350.0,1994-12-09,2013-05-21,50881.0
50892,775336,2,1920,336,2008-10-08,True,1350.0,1994-12-09,2013-05-21,50892.0

In [13]:
pt_features = delete_unmatched_cases_and_controls(pt_features)

/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/site-packages/pandas/core/indexing.py:297: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[key] = _infer_fill_value(value)
/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/site-packages/pandas/core/indexing.py:477: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [18]:
pt_features

,patid,gender,yob,pracid,index_date,isCase,final dementia medcode,data_start,data_end,matchid
55943,10665377,1,1920,377,2011-04-07,True,4693.0,2001-04-01,2011-04-14,55943.0
50163,12440330,2,1925,330,2010-03-30,True,4693.0,2000-03-22,2010-04-09,50163.0
65618,16055443,2,1927,443,2010-12-20,True,1350.0,2000-12-15,2011-01-13,65618.0
21685,2994148,2,1919,148,2007-02-15,True,1916.0,1997-01-20,2007-02-21,21685.0
27826,4552183,1,1939,183,2010-09-29,True,26270.0,2000-09-22,2010-10-28,27826.0
63698,23374431,2,1920,431,2011-12-13,True,1350.0,2001-11-13,2011-12-21,63698.0
40443,6726262,1,1933,262,2007-02-23,True,9509.0,1997-02-09,2007-03-23,40443.0
2566,706017,2,1925,017,2008-05-22,True,4693.0,1998-04-18,2008-06-05,2566.0
6185,14778043,1,1921,043,2006-01-31,True,1350.0,1996-01-05,2006-02-23,6185.0
26929,1451179,1,1931,179,2006-09-20,True,1350.0,1996-08-09,2006-09-29,26929.0
22088,6140152,1,1931,152,2010-04-09,True,6578.0,2000-04-03,2010-05-24,22088.0
69829,9756466,1,1919,466,2011-01-11,True,6578.0,2000-12-13,2011-02-03,69829.0
25682,2306171,2,1928,171,2009-03-11,True,4693.0,1999-01-27,2009-03-25,25682.0
23177,2362157,2,1920,157,2006-03-29,True,1350.0,1996-02-20,2006-04-18,23177.0
62669,4866425,1,1920,425,2006-05-17,True,46488.0,1996-04-27,2006-06-30,62669.0
34257,4265225,1,1929,225,2006-07-04,True,1350.0,1996-06-20,2006-08-23,34257.0
10440,12323079,1,1928,079,2008-08-08,True,7323.0,1998-07-18,2008-09-29,10440.0
63133,13070427,1,1928,427,2005-09-09,True,1350.0,1995-09-02,2005-11-17,63133.0
69552,6298465,2,1924,465,2006-10-10,True,7664.0,1996-08-17,2006-11-08,69552.0
73842,12196489,1,1919,489,2011-03-18,True,4357.0,2001-03-01,2011-05-25,73842.0
7785,1581056,1,1918,056,2006-09-28,True,6578.0,1996-08-06,2006-10-31,7785.0
45587,2560300,1,1922,300,2009-07-01,True,6578.0,1999-06-24,2009-09-17,45587.0
71410,11373473,2,1919,473,2010-01-23,True,4693.0,1999-12-16,2010-03-15,71410.0
12509,19653089,2,1913,089,2007-08-29,True,4693.0,1997-07-25,2007-10-25,12509.0
87102,5131622,2,1915,622,2006-07-11,True,8195.0,1996-06-06,2006-09-08,87102.0
62848,12099426,2,1923,426,2011-10-22,True,4693.0,2001-10-16,2012-01-18,62848.0
5444,3125036,2,1916,036,2009-11-02,True,7664.0,1999-10-11,2010-01-12,5444.0
94049,2671672,1,1918,672,2009-12-15,True,6578.0,1999-09-27,2009-12-31,94049.0
23526,14965158,2,1925,158,2009-04-17,True,1350.0,1999-03-24,2009-06-29,23526.0
42080,3436274,1,1918,274,2009-11-19,True,4693.0,1999-10-25,2010-02-02,42080.0
...,...,...,...,...,...,...,...,...,...,...
73710,14646488,2,1939,488,2009-07-16,False,NaN,1995-02-17,2013-03-10,73677.0
73685,6774488,1,1937,488,2008-01-22,False,NaN,1995-02-17,2013-03-22,73681.0
73684,5650488,1,1939,488,2012-01-23,True,1917.0,1995-02-17,2013-03-26,73684.0
73695,10531488,2,1927,488,2006-11-15,True,8195.0,1995-02-17,2013-04-04,73695.0
73701,11262488,1,1931,488,2011-11-09,True,6578.0,1995-02-17,2013-04-05,73701.0
73699,10854488,2,1923,488,2011-10-10,False,NaN,1995-02-17,2013-04-05,73725.0
73677,2546488,2,1939,488,2009-07-16,True,7664.0,1995-02-17,2013-04-06,73677.0
73704,12938488,1,1934,488,2006-08-14,True,8634.0,1995-02-17,2013-04-08,73704.0
73711,15195488,1,1939,488,2009-02-15,True,1916.0,1995-02-17,2013-04-12,73711.0
73689,8580488,1,1931,488,2011-11-09,False,NaN,1995-02-17,2013-04-15,73701.0
73696,10620488,2,1929,488,2012-01-25,False,NaN,1995-02-17,2013-04-15,73721.0
73718,17517488,1,1939,488,2012-01-23,False,NaN,1995-02-17,2013-04-17,73684.0
73714,16606488,1,1942,488,2012-04-12,False,NaN,1995-02-17,2013-04-17,73687.0
73715,16816488,2,1922,488,2010-01-01,True,1916.0,1995-02-17,2013-04-17,73715.0
50920,2053336,1,1942,336,2009-05-05,False,NaN,1994-12-10,2013-02-22,50913.0
50897,1091336,2,1927,336,2010-04-20,False,NaN,1994-12-10,2013-03-05,50930.0
50911,1701336,1,1923,336,2009-01-19,False,NaN,1994-12-09,2013-03-28,50901.0
50904,1421336,1,1930,336,2011-09-26,True,8195.0,1994-12-09,2013-04-24,50904.0
50909,1562336,2,1920,336,2008-10-08,False,NaN,1994-12-09,2013-04-25,50892.0
50891,755336,2,1938,336,2012-01-19,True,1917.0,1994-12-09,2013-05-02,50891.0
50907,1503336,1,1930,336,2011-09-26,False,NaN,1994-12-09,2013-05-07,50904.0
50898,1130336,2,1938,336,2012-01-19,False,NaN,1994-12-10,2013-05-09,50891.0
50912,1716336,2,1921,336,2007-07-31,False,NaN,1994-12-09,2013-05-09,50883.0
50899,1188336,1,1938,336,2012-05-09,False,NaN,1994-12-09,2013-05-13,50881.0
50913,1737336,1,1942,336,2009-05-05,True,1917.0,1994-12-09,2013-05-14,50913.0
50900,1220336,2,1928,336,2010-12-08,False,NaN,1994-12-09,2013-05-15,50925.0
50906,1497336,2,1928,336,2011-07-11,False,NaN,1994-12-09,2013-05-16,50924.0
50889,715336,2,1930,336,2008-09-04,False,NaN,1994-12-09,2013-05-20,50882.0
50881,136336,1,1938,336,2012-05-09,True,1350.0,1994-12-09,2013-05-21,50881.0
50892,775336,2,1920,336,2008-10-08,True,1350.0,1994-12-09,2013-05-21,50892.0

In [14]:
pt_features.sort_values(by='matchid')

,patid,gender,yob,pracid,index_date,isCase,final dementia medcode,data_start,data_end,matchid
84,5898001,2,1935,001,2008-08-12,False,NaN,1997-03-07,2013-05-14,8.0
8,644001,2,1935,001,2008-08-12,True,1350.0,1997-03-07,2013-05-17,8.0
16,803001,1,1923,001,2007-09-12,True,1350.0,1997-03-07,2012-01-19,16.0
81,5551001,1,1923,001,2007-09-12,False,NaN,1997-03-07,2012-01-04,16.0
22,1064001,2,1928,001,2011-03-03,True,1917.0,1997-03-07,2013-05-02,22.0
29,1946001,2,1928,001,2011-03-03,False,NaN,1997-03-07,2013-05-01,22.0
87,5988001,1,1929,001,2007-05-24,False,NaN,1997-03-07,2012-10-26,25.0
25,1645001,1,1929,001,2007-05-24,True,26270.0,1997-03-07,2013-04-23,25.0
30,2136001,2,1923,001,2009-03-16,True,6578.0,1997-03-07,2013-05-16,30.0
163,11291001,2,1923,001,2009-03-16,False,NaN,1997-03-07,2013-05-09,30.0
31,2150001,1,1922,001,2011-08-24,True,1917.0,1997-03-07,2013-04-05,31.0
18,821001,1,1922,001,2011-08-24,False,NaN,1997-03-07,2013-05-02,31.0
178,13114001,2,1923,001,2007-11-28,False,NaN,1997-09-17,2010-11-01,38.0
38,2747001,2,1923,001,2007-11-28,True,4693.0,1997-03-07,2009-03-25,38.0
28,1939001,1,1927,001,2008-09-17,False,NaN,1997-03-07,2013-05-01,40.0
40,2834001,1,1927,001,2008-09-17,True,1350.0,1997-03-07,2008-10-28,40.0
49,3500001,2,1934,001,2010-04-28,True,1917.0,1997-03-07,2013-05-20,49.0
92,6507001,2,1934,001,2010-04-28,False,NaN,1997-03-07,2013-05-02,49.0
50,3510001,1,1928,001,2007-11-20,True,1350.0,1997-03-07,2008-05-09,50.0
110,7856001,1,1928,001,2007-11-20,False,NaN,1997-03-07,2013-05-01,50.0
52,3762001,2,1920,001,2011-03-11,True,1350.0,1997-03-07,2013-05-09,52.0
4,432001,2,1920,001,2011-03-11,False,NaN,1997-03-07,2013-04-15,52.0
63,4345001,2,1916,001,2011-11-16,True,6578.0,1997-03-07,2013-03-12,63.0
109,7772001,2,1916,001,2011-11-16,False,NaN,1997-03-07,2012-12-11,63.0
70,4826001,2,1918,001,2010-11-12,True,6578.0,1997-03-07,2013-05-01,70.0
9,663001,2,1918,001,2010-11-12,False,NaN,1997-03-07,2013-05-14,70.0
72,4909001,1,1935,001,2007-06-05,True,1350.0,1997-03-07,2012-01-06,72.0
119,8289001,1,1935,001,2007-06-05,False,NaN,1997-03-07,2013-05-20,72.0
73,4940001,2,1920,001,2011-07-12,True,1350.0,1997-03-07,2013-05-16,73.0
85,5942001,2,1920,001,2011-07-12,False,NaN,1997-03-07,2013-05-20,73.0
...,...,...,...,...,...,...,...,...,...,...
94389,574675,2,1933,675,2010-10-12,True,1917.0,1999-12-07,2013-04-24,94389.0
94498,8251675,2,1933,675,2010-10-12,False,NaN,1999-12-07,2013-04-29,94389.0
94395,763675,2,1924,675,2010-09-06,True,1917.0,1999-12-07,2013-05-08,94395.0
94404,1486675,2,1924,675,2010-09-06,False,NaN,1999-12-07,2013-05-02,94395.0
94500,8440675,1,1922,675,2010-02-11,False,NaN,1999-12-07,2013-03-19,94405.0
94405,1504675,1,1922,675,2010-02-11,True,6578.0,1999-12-07,2011-01-05,94405.0
94492,7853675,1,1936,675,2011-10-24,False,NaN,1999-12-07,2013-04-26,94415.0
94415,2244675,1,1936,675,2011-10-24,True,6578.0,1999-12-07,2012-08-24,94415.0
94438,3819675,2,1930,675,2010-03-16,False,NaN,1999-12-07,2012-12-20,94424.0
94424,2728675,2,1930,675,2010-03-16,True,8195.0,1999-12-07,2013-05-08,94424.0
94439,3831675,1,1934,675,2010-10-19,True,6578.0,1999-12-07,2013-05-07,94439.0
94429,3053675,1,1934,675,2010-10-19,False,NaN,1999-12-07,2013-04-26,94439.0
94442,4090675,2,1921,675,2012-04-30,True,8195.0,1999-12-07,2012-12-13,94442.0
94485,6826675,2,1921,675,2012-04-30,False,NaN,1999-12-07,2013-05-03,94442.0
94445,4301675,2,1932,675,2010-03-02,True,7664.0,1999-12-07,2013-05-03,94445.0
94446,4371675,2,1932,675,2010-03-02,False,NaN,1999-12-07,2013-04-25,94445.0
94451,4623675,2,1943,675,2011-05-03,True,4693.0,1999-12-07,2011-12-09,94451.0
94409,1952675,2,1943,675,2011-05-03,False,NaN,1999-12-07,2013-04-29,94451.0
94397,1058675,1,1922,675,2010-07-12,False,NaN,1999-12-07,2013-05-07,94461.0
94461,5568675,1,1922,675,2010-07-12,True,8195.0,1999-12-07,2013-04-12,94461.0
94467,6030675,2,1931,675,2010-08-04,True,31016.0,1999-12-07,2013-05-07,94467.0
94475,6420675,2,1931,675,2010-08-04,False,NaN,1999-12-07,2013-05-03,94467.0
94471,6274675,1,1931,675,2011-07-29,True,6578.0,1999-12-07,2013-04-25,94471.0
94453,4828675,1,1931,675,2011-07-29,False,NaN,1999-12-07,2013-04-29,94471.0
94433,3395675,1,1937,675,2011-02-03,False,NaN,1999-12-07,2013-05-03,94473.0
94473,6309675,1,1937,675,2011-02-03,True,6578.0,1999-12-07,2013-05-08,94473.0
94491,7834675,1,1937,675,2011-05-12,False,NaN,1999-12-07,2013-05-02,94474.0
94474,6415675,1,1937,675,2011-05-12,True,29386.0,1999-12-07,2013-01-16,94474.0
94480,6635675,2,1931,675,2011-01-27,True,8195.0,1999-12-07,2013-05-03,94480.0
94432,3375675,2,1931,675,2011-01-27,False,NaN,1999-12-07,2013-05-02,94480.0

In [22]:
pt_features.to_csv('data/pt_data/processed_data/pt_features_demins.csv',index=False)