In [3]:
%load_ext autoreload
%autoreload 2

In [4]:
cd ~/demres

/Users/zurfarosa/demres

In [5]:
import os
import sys

module_path = os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.append(module_path)

import pandas as pd
import numpy as np
from datetime import date, timedelta
from pprint import pprint

import demres
from demres.common.constants import entry_type
from demres.common import codelists
from demres.common.helper_functions import *
from demres.demins.constants import Study_Design
from demres.demins.functions import *

In [6]:
pegmed = pd.read_csv('data/dicts/proc_pegasus_medical.csv',delimiter=',')

In [7]:
pegmed.head(1)

,medcode,readcode,clinical events,immunisation events,referral events,test events,read term,database build
0,42602,E001000,30,0,1,0,Uncomplicated presenile dementia,February 2009

In [46]:
pegmed.loc[pegmed['read term'].str.contains('units',regex=True,na=False,case=False),['medcode','clinical events','readcode','read term']]

,medcode,clinical events,readcode,read term
44609,97126,3977,136X.00,Alcohol units consumed on heaviest drinking day
84264,93415,28485,136V.00,Alcohol units per week

In [11]:
pegprod = pd.read_csv('data/dicts/proc_pegasus_prod.csv')

In [12]:
pegprod.head(1)

,prodcode,XXX code,therapy events,product name,drug substance name,substance strength,formulation,route,BNF code,BNF header,database build,unknown column
0,28484,95866020,189,Physiotulle Ag dressing 10cm x 10cm (Coloplast...,Silver Sulfadiazine,10cm X 10cm,Dressing,NaN,72214100,Soft Polymer Wound Contact Dressing Impregnate...,February 2009,16545005

In [28]:
pegprod.loc[pegprod['drug substance name'].str.contains('cpa*',regex=True,na=False,case=False)]

Empty DataFrame
Columns: [prodcode, XXX code, therapy events, product name, drug substance name, substance strength, formulation, route, BNF code, BNF header, database build, unknown column]
Index: []

In [39]:
tests = pd.read_csv('data/pt_data/raw_data/Extract_Test_001.txt',delimiter='\t')

In [49]:
mcvs = tests[tests['medcode']==93415]

In [50]:
mcvs

Empty DataFrame
Columns: [patid, eventdate, sysdate, constype, consid, medcode, staffid, textid, enttype, data1, data2, data3, data4, data5, data6, data7, data8]
Index: []

In [51]:
entries = pd.read_hdf('hdf/medcoded_entries.hdf')

In [52]:
entries[entries['medcode']==93415]

             patid  eventdate    sysdate  medcode  type
2100736     333051 2012-11-15 2012-11-15    93415     2
2101939     501051 2011-12-12 2012-02-07    93415     2
2101944     501051 2012-08-02 2012-08-02    93415     2
2130068    3142051 2012-07-20 2012-07-20    93415     2
2147218    4937051 2012-09-12 2012-09-12    93415     2
2147964    5001051 2012-03-26 2012-03-26    93415     2
2159434    6289051 2012-11-23 2012-11-23    93415     2
2160728    6596051 2012-11-21 2012-11-21    93415     2
2191605    9730051 2012-07-30 2012-07-30    93415     2
2224479   12384051 2009-05-19 2009-05-19    93415     2
2224484   12384051 2010-04-20 2010-04-20    93415     2
2224492   12384051 2011-04-26 2012-03-08    93415     2
2224494   12384051 2012-08-07 2012-08-07    93415     2
2225008   12385051 2012-03-21 2012-03-21    93415     2
2225012   12385051 2012-07-25 2012-07-25    93415     2
2227967   12696051 2012-08-02 2012-08-02    93415     2
2228861   12714051 2010-03-09 2010-03-09    93415     2
2237624   13742051 2012-07-30 2012-07-30    93415     2
2238277   13883051 2012-08-06 2012-08-06    93415     2
2241588   14539051 2011-12-07 2011-12-07    93415     2
2241594   14539051 2012-11-26 2012-11-26    93415     2
2244758   14803051 2012-11-13 2012-11-13    93415     2
2248191   15168051 2012-02-01 2012-02-01    93415     2
2248194   15168051 2012-08-02 2012-08-02    93415     2
2252224   15831051 2012-03-26 2012-03-26    93415     2
2263887   16651051 2012-11-14 2012-11-14    93415     2
2275182   21051051 2012-03-09 2012-03-09    93415     2
2275184   21051051 2013-02-06 2013-02-06    93415     2
2287376   24172051 2011-05-18 2012-03-19    93415     2
2287379   24172051 2012-09-18 2012-09-18    93415     2
...            ...        ...        ...      ...   ...
27358722   1352655 2009-08-21 2010-01-27    93415     2
27359211   1545655 2011-12-01 2011-12-02    93415     2
27359988   1865655 2010-11-19 2010-11-19    93415     2
27360025   1865655 2011-10-03 2011-10-03    93415     2
27360105   1865655 2009-12-08 2010-01-28    93415     2
27360436   2095655 2011-10-25 2011-10-25    93415     2
27360438   2095655 2013-01-08 2013-01-08    93415     2
27360462   2095655 2009-09-22 2009-11-13    93415     2
27361210   2232655 2013-04-01 2013-04-08    93415     2
27361604   2353655 2010-10-05 2010-10-05    93415     2
27361606   2353655 2012-02-28 2012-02-28    93415     2
27362185   2563655 2009-10-12 2009-11-24    93415     2
27362642   2684655 2012-11-07 2012-11-07    93415     2
27363004   2959655 2012-05-01 2012-05-01    93415     2
27363037   2959655 2010-05-25 2010-05-25    93415     2
27363718   3014655 2011-09-30 2011-09-30    93415     2
27363721   3014655 2012-12-06 2012-12-06    93415     2
27363850   3014655 2009-09-16 2009-11-24    93415     2
27364335   3408655 2011-10-25 2011-10-25    93415     2
27364810   3597655 2012-01-16 2012-01-16    93415     2
27364937   3597655 2010-06-01 2010-06-01    93415     2
27365290   3922655 2010-08-18 2010-08-18    93415     2
27365675   4100655 2009-11-06 2009-11-06    93415     2
27366804   4403655 2009-11-30 2009-11-30    93415     2
27367061   4403655 2012-04-23 2012-04-25    93415     2
27367168   6133655 2012-03-26 2012-03-26    93415     2
27653147   1688663 2011-09-08 2011-09-08    93415     2
27655363   2998663 2011-10-18 2011-10-18    93415     2
27656480   3545663 2009-09-08 2010-09-15    93415     2
27658725   6097663 2012-01-31 2012-01-31    93415     2

[580 rows x 5 columns]

In [ ]:
ss