In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
cd ../

/Users/zurfarosa/demres

In [2]:
import os
import sys

module_path = os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.append(module_path)

import pandas as pd
import numpy as np
import numpy as np
from datetime import date, timedelta

import demres
from demres.definitions import ROOT_DIR
from demres.common.constants import entry_type
from demres.common import codelists
from demres.common.process_raw_data import *
from demres.demins.constants import Study_Design

ImportError: No module named 'demres'

In [4]:
# create_pegmed()

In [5]:
# create_pegprod()

In [6]:
# create_medcoded_entries()

In [7]:
# create_prescriptions()

In [8]:
# create_consultations()

In [9]:
# all_entries = create_all_entries()

In [10]:
# all_entries.to_hdf('hdf/all_entries.hdf', 'all_entries' ,mode='w')

In [11]:
all_entries = pd.read_hdf('hdf/all_entries.hdf')

In [12]:
pt_features = create_pt_features()

In [13]:
pt_features = get_index_date_and_caseness_and_add_final_dementia_subtype(all_entries,pt_features)

In [14]:
pt_features = add_data_start_and_end_dates(all_entries,pt_features)

In [15]:
# pt_features = pd.read_csv('data/pt_data/pt_features.csv',delimiter=',')

In [16]:
pt_features

,patid,gender,yob,pracid,index_date,isCase,final dementia medcode,data_start,data_end
0,57001,1,1932,001,2006-12-05,True,19477.0,1997-03-07,2013-05-17
1,60001,1,1924,001,NaT,False,NaN,1997-03-07,2013-05-20
2,149001,2,1919,001,2004-07-02,True,7572.0,1997-03-07,2004-11-17
3,364001,2,1937,001,NaT,False,NaN,1997-03-07,2013-05-17
4,432001,2,1920,001,NaT,False,NaN,1997-03-07,2013-04-15
5,519001,2,1927,001,NaT,False,NaN,1997-03-07,2013-05-07
6,543001,1,1940,001,2006-02-09,True,9509.0,1997-03-07,2006-10-05
7,558001,2,1937,001,NaT,False,NaN,1997-03-07,2013-04-17
8,644001,2,1935,001,2008-08-12,True,1350.0,1997-03-07,2013-05-17
9,663001,2,1918,001,NaT,False,NaN,1997-03-07,2013-05-14
10,676001,2,1930,001,NaT,False,NaN,1997-03-07,2013-04-30
11,702001,2,1922,001,2006-03-27,True,6578.0,1997-03-07,2009-08-03
12,718001,1,1922,001,2007-02-26,True,1917.0,1997-03-07,2013-02-12
13,746001,2,1927,001,NaT,False,NaN,1997-03-07,2008-12-19
14,774001,1,1929,001,NaT,False,NaN,1997-03-07,2013-05-16
15,802001,2,1924,001,2005-05-24,True,4693.0,1997-03-07,2011-09-28
16,803001,1,1923,001,2007-09-12,True,1350.0,1997-03-07,2012-01-19
17,819001,1,1927,001,NaT,False,NaN,1997-03-07,2013-05-14
18,821001,1,1922,001,NaT,False,NaN,1997-03-07,2013-05-02
19,830001,2,1921,001,NaT,False,NaN,1997-03-07,2006-03-24
20,853001,1,1920,001,NaT,False,NaN,1997-03-07,2013-05-17
21,960001,2,1919,001,NaT,False,NaN,1997-03-07,2012-11-22
22,1064001,2,1928,001,2011-03-03,True,1917.0,1997-03-07,2013-05-02
23,1142001,2,1917,001,2005-11-16,True,1350.0,1997-03-07,2007-05-02
24,1252001,2,1928,001,NaT,False,NaN,1997-03-07,2013-05-20
25,1645001,1,1929,001,2007-05-24,True,26270.0,1997-03-07,2013-04-23
26,1670001,2,1926,001,2003-02-01,True,1350.0,1997-03-07,2010-02-19
27,1791001,2,1918,001,NaT,False,NaN,1997-03-07,2012-12-24
28,1939001,1,1927,001,NaT,False,NaN,1997-03-07,2013-05-01
29,1946001,2,1928,001,NaT,False,NaN,1997-03-07,2013-05-01
...,...,...,...,...,...,...,...,...,...
94484,6787675,2,1928,675,2009-04-02,True,1917.0,1999-12-07,2011-06-07
94485,6826675,2,1921,675,NaT,False,NaN,1999-12-07,2013-05-03
94486,7037675,2,1921,675,NaT,False,NaN,1999-12-07,2013-05-07
94487,7405675,2,1938,675,2009-08-20,True,8195.0,1999-12-07,2013-05-08
94488,7411675,1,1929,675,2005-11-23,True,8195.0,1999-12-07,2012-04-26
94489,7534675,2,1923,675,NaT,False,NaN,1999-12-07,2012-06-11
94490,7728675,2,1930,675,NaT,False,NaN,1999-12-07,2012-05-09
94491,7834675,1,1937,675,NaT,False,NaN,1999-12-07,2013-05-02
94492,7853675,1,1936,675,NaT,False,NaN,1999-12-07,2013-04-26
94493,7860675,2,1912,675,2009-03-17,True,8195.0,1999-12-07,2009-11-14
94494,7934675,1,1924,675,NaT,False,NaN,1999-12-07,2013-05-03
94495,8129675,1,1923,675,NaT,False,NaN,1999-12-07,2012-04-17
94496,8130675,1,1912,675,2009-01-29,True,4357.0,1999-12-07,2009-03-11
94497,8234675,2,1921,675,2007-07-09,True,8195.0,1999-12-07,2007-11-01
94498,8251675,2,1933,675,NaT,False,NaN,1999-12-07,2013-04-29
94499,8430675,1,1928,675,NaT,False,NaN,1999-12-07,2012-03-05
94500,8440675,1,1922,675,NaT,False,NaN,1999-12-07,2013-03-19
94501,8597675,2,1921,675,2006-05-25,True,6578.0,2000-01-21,2011-08-25
94502,8757675,2,1928,675,NaT,False,NaN,2000-04-06,2010-09-21
94503,9381675,2,1937,675,2010-11-04,True,31016.0,2001-02-28,2013-05-01
94504,9829675,1,1931,675,2010-08-01,True,8195.0,2001-10-03,2013-04-25
94505,10220675,2,1932,675,2007-02-02,True,7664.0,2002-05-01,2010-10-28
94506,10259675,2,1919,675,2006-08-10,True,6578.0,2002-05-13,2009-01-29
94507,10417675,2,1922,675,NaT,False,NaN,2003-05-08,2013-05-09
94508,10526675,2,1920,675,2009-02-10,True,6578.0,2002-08-29,2012-12-11
94509,11194675,1,1919,675,2006-07-01,True,6578.0,2003-03-20,2008-01-14
94510,11265675,2,1925,675,2011-01-21,True,6578.0,2003-04-22,2012-07-24
94511,11503675,2,1929,675,NaT,False,NaN,2003-08-12,2008-10-29
94512,11617675,2,1924,675,2007-08-06,True,6578.0,2003-10-01,2008-01-31
94513,12742675,2,1913,675,NaT,False,NaN,2006-01-26,2012-02-16

In [17]:
years_after = Study_Design.years_of_data_after_index_date_required_by_controls
years_before = Study_Design.total_years_required_pre_index_date
pt_features = match_cases_and_controls(pt_features,years_post_index=years_after,years_pre_index=years_before)

In [18]:
pt_features = delete_unmatched_cases_and_controls(pt_features)

In [21]:
pt_features.sort_values(by='matchid')

,patid,gender,yob,pracid,index_date,isCase,final dementia medcode,data_start,data_end,matchid
8,644001,2,1935,001,2008-08-12,True,1350.0,1997-03-07,2013-05-17,8.0
86,5976001,2,1935,001,2008-08-12,False,NaN,1997-03-07,2013-04-15,8.0
81,5551001,1,1923,001,2007-09-12,False,NaN,1997-03-07,2012-01-04,16.0
16,803001,1,1923,001,2007-09-12,True,1350.0,1997-03-07,2012-01-19,16.0
33,2192001,2,1928,001,2011-03-03,False,NaN,1997-03-07,2013-04-25,22.0
22,1064001,2,1928,001,2011-03-03,True,1917.0,1997-03-07,2013-05-02,22.0
25,1645001,1,1929,001,2007-05-24,True,26270.0,1997-03-07,2013-04-23,25.0
30,2136001,2,1923,001,2009-03-16,True,6578.0,1997-03-07,2013-05-16,30.0
137,9687001,2,1923,001,2009-03-16,False,NaN,1997-03-07,2011-05-05,30.0
38,2747001,2,1923,001,2007-11-28,True,4693.0,1997-03-07,2009-03-25,38.0
178,13114001,2,1923,001,2007-11-28,False,NaN,1997-09-17,2010-11-01,38.0
40,2834001,1,1927,001,2008-09-17,True,1350.0,1997-03-07,2008-10-28,40.0
92,6507001,2,1934,001,2010-04-28,False,NaN,1997-03-07,2013-05-02,49.0
49,3500001,2,1934,001,2010-04-28,True,1917.0,1997-03-07,2013-05-20,49.0
50,3510001,1,1928,001,2007-11-20,True,1350.0,1997-03-07,2008-05-09,50.0
110,7856001,1,1928,001,2007-11-20,False,NaN,1997-03-07,2013-05-01,50.0
52,3762001,2,1920,001,2011-03-11,True,1350.0,1997-03-07,2013-05-09,52.0
4,432001,2,1920,001,2011-03-11,False,NaN,1997-03-07,2013-04-15,52.0
70,4826001,2,1918,001,2010-11-12,True,6578.0,1997-03-07,2013-05-01,70.0
27,1791001,2,1918,001,2010-11-12,False,NaN,1997-03-07,2012-12-24,70.0
119,8289001,1,1935,001,2007-06-05,False,NaN,1997-03-07,2013-05-20,72.0
72,4909001,1,1935,001,2007-06-05,True,1350.0,1997-03-07,2012-01-06,72.0
130,9078001,2,1921,001,2008-03-24,False,NaN,1997-03-07,2013-03-07,74.0
74,4949001,2,1921,001,2008-03-24,True,1350.0,1997-03-07,2009-11-16,74.0
68,4766001,2,1923,001,2010-07-01,False,NaN,1997-03-07,2012-10-25,76.0
76,5092001,2,1923,001,2010-07-01,True,1350.0,1997-03-07,2012-11-01,76.0
77,5128001,1,1927,001,2010-12-02,True,6578.0,1997-03-07,2013-04-25,77.0
28,1939001,1,1927,001,2010-12-02,False,NaN,1997-03-07,2013-05-01,77.0
82,5688001,2,1923,001,2009-01-10,True,1350.0,1997-03-07,2010-04-12,82.0
83,5740001,1,1934,001,2007-11-15,True,7572.0,1997-03-07,2011-12-22,83.0
...,...,...,...,...,...,...,...,...,...,...
94089,6361672,2,1930,672,2009-12-11,False,NaN,1999-09-27,2012-12-24,94105.0
94105,7879672,2,1930,672,2009-12-11,True,19393.0,1999-09-27,2013-04-23,94105.0
94136,12593672,2,1922,672,2011-03-17,False,NaN,1999-09-27,2013-04-24,94147.0
94147,17225672,2,1922,672,2011-03-17,True,4693.0,1999-09-27,2013-04-29,94147.0
94100,7330672,1,1930,672,2010-03-24,False,NaN,1999-09-27,2013-04-26,94148.0
94148,17768672,1,1930,672,2010-03-24,True,6578.0,1999-09-27,2013-04-24,94148.0
94233,634674,1,1924,674,2011-01-27,True,6578.0,2000-11-21,2012-11-22,94233.0
94352,12818674,1,1924,674,2011-01-27,False,NaN,2000-11-21,2013-05-10,94233.0
94322,9818674,1,1924,674,2011-03-14,True,6578.0,2000-11-21,2011-10-13,94322.0
94365,14364674,1,1926,674,2011-02-24,True,1916.0,2000-11-21,2013-05-03,94365.0
94238,1158674,1,1926,674,2011-02-24,False,NaN,2000-11-21,2013-05-07,94365.0
94383,336675,2,1930,675,2010-02-15,True,6578.0,1999-12-07,2011-08-26,94383.0
94498,8251675,2,1933,675,2010-10-12,False,NaN,1999-12-07,2013-04-29,94389.0
94389,574675,2,1933,675,2010-10-12,True,1917.0,1999-12-07,2013-04-24,94389.0
94395,763675,2,1924,675,2010-09-06,True,1917.0,1999-12-07,2013-05-08,94395.0
94404,1486675,2,1924,675,2010-09-06,False,NaN,1999-12-07,2013-05-02,94395.0
94405,1504675,1,1922,675,2010-02-11,True,6578.0,1999-12-07,2011-01-05,94405.0
94490,7728675,2,1930,675,2010-03-16,False,NaN,1999-12-07,2012-05-09,94424.0
94424,2728675,2,1930,675,2010-03-16,True,8195.0,1999-12-07,2013-05-08,94424.0
94429,3053675,1,1934,675,2010-10-19,False,NaN,1999-12-07,2013-04-26,94439.0
94439,3831675,1,1934,675,2010-10-19,True,6578.0,1999-12-07,2013-05-07,94439.0
94446,4371675,2,1932,675,2010-03-02,False,NaN,1999-12-07,2013-04-25,94445.0
94445,4301675,2,1932,675,2010-03-02,True,7664.0,1999-12-07,2013-05-03,94445.0
94461,5568675,1,1922,675,2010-07-12,True,8195.0,1999-12-07,2013-04-12,94461.0
94500,8440675,1,1922,675,2010-07-12,False,NaN,1999-12-07,2013-03-19,94461.0
94467,6030675,2,1931,675,2010-08-04,True,31016.0,1999-12-07,2013-05-07,94467.0
94432,3375675,2,1931,675,2010-08-04,False,NaN,1999-12-07,2013-05-02,94467.0
94491,7834675,1,1937,675,2011-02-03,False,NaN,1999-12-07,2013-05-02,94473.0
94473,6309675,1,1937,675,2011-02-03,True,6578.0,1999-12-07,2013-05-08,94473.0
94480,6635675,2,1931,675,2011-01-27,True,8195.0,1999-12-07,2013-05-03,94480.0

In [23]:
pt_features.to_csv('data/pt_data/pt_features_demins.csv',index=False)

In [5]:
np.average([3,5,3,3],weights=[3,2,1,1])

3.5714285714285716

In [6]:
25/7

3.5714285714285716