In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
cd ../

/Users/zurfarosa/demres

In [3]:
import os
import sys

module_path = os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.append(module_path)

import pandas as pd
import numpy as np
from datetime import date, timedelta

import demres
from demres.definitions import ROOT_DIR
from demres.common.constants import entry_type
from demres.common import codelists
from demres.common.process_raw_data import *
from demres.dempred.constants import Study_Design as dempred_design

In [4]:
all_entries = pd.read_hdf('hdf/all_entries.hdf')

In [5]:
pt_features = create_pt_features()

In [6]:
pt_features = get_index_date_and_caseness_and_add_final_dementia_subtype(all_entries,pt_features)

In [7]:
pt_features = add_data_start_and_end_dates(all_entries,pt_features)

In [9]:
pt_features

,patid,gender,yob,pracid,index_date,isCase,final dementia medcode,data_start,data_end
0,57001,1,1932,001,2006-12-05,True,19477.0,1997-03-07,2013-05-17
1,60001,1,1924,001,NaT,False,NaN,1997-03-07,2013-05-20
2,149001,2,1919,001,2004-07-02,True,7572.0,1997-03-07,2004-11-17
3,364001,2,1937,001,NaT,False,NaN,1997-03-07,2013-05-17
4,432001,2,1920,001,NaT,False,NaN,1997-03-07,2013-04-15
5,519001,2,1927,001,NaT,False,NaN,1997-03-07,2013-05-07
6,543001,1,1940,001,2006-02-09,True,9509.0,1997-03-07,2006-10-05
7,558001,2,1937,001,NaT,False,NaN,1997-03-07,2013-04-17
8,644001,2,1935,001,2008-08-12,True,1350.0,1997-03-07,2013-05-17
9,663001,2,1918,001,NaT,False,NaN,1997-03-07,2013-05-14
10,676001,2,1930,001,NaT,False,NaN,1997-03-07,2013-04-30
11,702001,2,1922,001,2006-03-27,True,6578.0,1997-03-07,2009-08-03
12,718001,1,1922,001,2007-02-26,True,1917.0,1997-03-07,2013-02-12
13,746001,2,1927,001,NaT,False,NaN,1997-03-07,2008-12-19
14,774001,1,1929,001,NaT,False,NaN,1997-03-07,2013-05-16
15,802001,2,1924,001,2005-05-24,True,4693.0,1997-03-07,2011-09-28
16,803001,1,1923,001,2007-09-12,True,1350.0,1997-03-07,2012-01-19
17,819001,1,1927,001,NaT,False,NaN,1997-03-07,2013-05-14
18,821001,1,1922,001,NaT,False,NaN,1997-03-07,2013-05-02
19,830001,2,1921,001,NaT,False,NaN,1997-03-07,2006-03-24
20,853001,1,1920,001,NaT,False,NaN,1997-03-07,2013-05-17
21,960001,2,1919,001,NaT,False,NaN,1997-03-07,2012-11-22
22,1064001,2,1928,001,2011-03-03,True,1917.0,1997-03-07,2013-05-02
23,1142001,2,1917,001,2005-11-16,True,1350.0,1997-03-07,2007-05-02
24,1252001,2,1928,001,NaT,False,NaN,1997-03-07,2013-05-20
25,1645001,1,1929,001,2007-05-24,True,26270.0,1997-03-07,2013-04-23
26,1670001,2,1926,001,2003-02-01,True,1350.0,1997-03-07,2010-02-19
27,1791001,2,1918,001,NaT,False,NaN,1997-03-07,2012-12-24
28,1939001,1,1927,001,NaT,False,NaN,1997-03-07,2013-05-01
29,1946001,2,1928,001,NaT,False,NaN,1997-03-07,2013-05-01
...,...,...,...,...,...,...,...,...,...
94484,6787675,2,1928,675,2009-04-02,True,1917.0,1999-12-07,2011-06-07
94485,6826675,2,1921,675,NaT,False,NaN,1999-12-07,2013-05-03
94486,7037675,2,1921,675,NaT,False,NaN,1999-12-07,2013-05-07
94487,7405675,2,1938,675,2009-08-20,True,8195.0,1999-12-07,2013-05-08
94488,7411675,1,1929,675,2005-11-23,True,8195.0,1999-12-07,2012-04-26
94489,7534675,2,1923,675,NaT,False,NaN,1999-12-07,2012-06-11
94490,7728675,2,1930,675,NaT,False,NaN,1999-12-07,2012-05-09
94491,7834675,1,1937,675,NaT,False,NaN,1999-12-07,2013-05-02
94492,7853675,1,1936,675,NaT,False,NaN,1999-12-07,2013-04-26
94493,7860675,2,1912,675,2009-03-17,True,8195.0,1999-12-07,2009-11-14
94494,7934675,1,1924,675,NaT,False,NaN,1999-12-07,2013-05-03
94495,8129675,1,1923,675,NaT,False,NaN,1999-12-07,2012-04-17
94496,8130675,1,1912,675,2009-01-29,True,4357.0,1999-12-07,2009-03-11
94497,8234675,2,1921,675,2007-07-09,True,8195.0,1999-12-07,2007-11-01
94498,8251675,2,1933,675,NaT,False,NaN,1999-12-07,2013-04-29
94499,8430675,1,1928,675,NaT,False,NaN,1999-12-07,2012-03-05
94500,8440675,1,1922,675,NaT,False,NaN,1999-12-07,2013-03-19
94501,8597675,2,1921,675,2006-05-25,True,6578.0,2000-01-21,2011-08-25
94502,8757675,2,1928,675,NaT,False,NaN,2000-04-06,2010-09-21
94503,9381675,2,1937,675,2010-11-04,True,31016.0,2001-02-28,2013-05-01
94504,9829675,1,1931,675,2010-08-01,True,8195.0,2001-10-03,2013-04-25
94505,10220675,2,1932,675,2007-02-02,True,7664.0,2002-05-01,2010-10-28
94506,10259675,2,1919,675,2006-08-10,True,6578.0,2002-05-13,2009-01-29
94507,10417675,2,1922,675,NaT,False,NaN,2003-05-08,2013-05-09
94508,10526675,2,1920,675,2009-02-10,True,6578.0,2002-08-29,2012-12-11
94509,11194675,1,1919,675,2006-07-01,True,6578.0,2003-03-20,2008-01-14
94510,11265675,2,1925,675,2011-01-21,True,6578.0,2003-04-22,2012-07-24
94511,11503675,2,1929,675,NaT,False,NaN,2003-08-12,2008-10-29
94512,11617675,2,1924,675,2007-08-06,True,6578.0,2003-10-01,2008-01-31
94513,12742675,2,1913,675,NaT,False,NaN,2006-01-26,2012-02-16

In [10]:
years_after = dempred_design.years_of_data_after_index_date_required_by_controls
years_before = dempred_design.total_years_required_pre_index_date
pt_features = match_cases_and_controls(pt_features,years_post_index=years_after,years_pre_index=years_before)

In [11]:
pt_features = delete_unmatched_cases_and_controls(pt_features)

In [12]:
pt_features.sort_values(by='matchid')

,patid,gender,yob,pracid,index_date,isCase,final dementia medcode,data_start,data_end,matchid
0,57001,1,1932,001,2006-12-05,True,19477.0,1997-03-07,2013-05-17,0.0
112,7920001,1,1932,001,2006-12-05,False,NaN,1997-03-07,2013-04-17,0.0
2,149001,2,1919,001,2004-07-02,True,7572.0,1997-03-07,2004-11-17,2.0
6,543001,1,1940,001,2006-02-09,True,9509.0,1997-03-07,2006-10-05,6.0
58,3914001,1,1940,001,2006-02-09,False,NaN,1997-03-07,2013-04-22,6.0
8,644001,2,1935,001,2008-08-12,True,1350.0,1997-03-07,2013-05-17,8.0
86,5976001,2,1935,001,2008-08-12,False,NaN,1997-03-07,2013-04-15,8.0
11,702001,2,1922,001,2006-03-27,True,6578.0,1997-03-07,2009-08-03,11.0
98,6891001,2,1922,001,2006-03-27,False,NaN,1997-03-07,2008-01-09,11.0
18,821001,1,1922,001,2007-02-26,False,NaN,1997-03-07,2013-05-02,12.0
12,718001,1,1922,001,2007-02-26,True,1917.0,1997-03-07,2013-02-12,12.0
15,802001,2,1924,001,2005-05-24,True,4693.0,1997-03-07,2011-09-28,15.0
132,9089001,2,1924,001,2005-05-24,False,NaN,1997-03-07,2013-05-16,15.0
81,5551001,1,1923,001,2007-09-12,False,NaN,1997-03-07,2012-01-04,16.0
16,803001,1,1923,001,2007-09-12,True,1350.0,1997-03-07,2012-01-19,16.0
22,1064001,2,1928,001,2011-03-03,True,1917.0,1997-03-07,2013-05-02,22.0
211,25285001,2,1928,001,2011-03-03,False,NaN,2006-08-31,2013-04-22,22.0
23,1142001,2,1917,001,2005-11-16,True,1350.0,1997-03-07,2007-05-02,23.0
25,1645001,1,1929,001,2007-05-24,True,26270.0,1997-03-07,2013-04-23,25.0
26,1670001,2,1926,001,2003-02-01,True,1350.0,1997-03-07,2010-02-19,26.0
90,6227001,2,1926,001,2003-02-01,False,NaN,1997-03-07,2005-11-07,26.0
178,13114001,2,1923,001,2009-03-16,False,NaN,1997-09-17,2010-11-01,30.0
30,2136001,2,1923,001,2009-03-16,True,6578.0,1997-03-07,2013-05-16,30.0
31,2150001,1,1922,001,2011-08-24,True,1917.0,1997-03-07,2013-04-05,31.0
212,25301001,1,1922,001,2011-08-24,False,NaN,2006-09-01,2013-03-12,31.0
34,2279001,1,1916,001,2004-09-06,True,1350.0,1997-03-07,2006-03-15,34.0
37,2742001,1,1914,001,2003-07-10,True,6578.0,1997-03-07,2005-04-19,37.0
122,8532001,1,1914,001,2003-07-10,False,NaN,1997-03-07,2012-07-18,37.0
38,2747001,2,1923,001,2007-11-28,True,4693.0,1997-03-07,2009-03-25,38.0
39,2763001,2,1913,001,2003-06-01,True,1350.0,1997-03-07,2006-02-07,39.0
...,...,...,...,...,...,...,...,...,...,...
94471,6274675,1,1931,675,2011-07-29,True,6578.0,1999-12-07,2013-04-25,94471.0
94453,4828675,1,1931,675,2011-07-29,False,NaN,1999-12-07,2013-04-29,94471.0
94491,7834675,1,1937,675,2011-02-03,False,NaN,1999-12-07,2013-05-02,94473.0
94473,6309675,1,1937,675,2011-02-03,True,6578.0,1999-12-07,2013-05-08,94473.0
94474,6415675,1,1937,675,2011-05-12,True,29386.0,1999-12-07,2013-01-16,94474.0
94499,8430675,1,1928,675,2009-03-02,False,NaN,1999-12-07,2012-03-05,94476.0
94476,6440675,1,1928,675,2009-03-02,True,7664.0,1999-12-07,2013-03-08,94476.0
94477,6446675,1,1924,675,2006-09-26,True,1917.0,1999-12-07,2009-10-06,94477.0
94479,6501675,1,1926,675,2007-08-15,True,6578.0,1999-12-07,2009-06-03,94479.0
94480,6635675,2,1931,675,2011-01-27,True,8195.0,1999-12-07,2013-05-03,94480.0
94484,6787675,2,1928,675,2009-04-02,True,1917.0,1999-12-07,2011-06-07,94484.0
94502,8757675,2,1928,675,2009-04-02,False,NaN,2000-04-06,2010-09-21,94484.0
94487,7405675,2,1938,675,2009-08-20,True,8195.0,1999-12-07,2013-05-08,94487.0
94423,2727675,2,1938,675,2009-08-20,False,NaN,1999-12-07,2012-09-29,94487.0
94392,702675,1,1929,675,2005-11-23,False,NaN,1999-12-07,2013-05-07,94488.0
94488,7411675,1,1929,675,2005-11-23,True,8195.0,1999-12-07,2012-04-26,94488.0
94497,8234675,2,1921,675,2007-07-09,True,8195.0,1999-12-07,2007-11-01,94497.0
94501,8597675,2,1921,675,2006-05-25,True,6578.0,2000-01-21,2011-08-25,94501.0
94425,2878675,2,1921,675,2006-05-25,False,NaN,2001-04-12,2010-03-02,94501.0
94412,2008675,2,1937,675,2010-11-04,False,NaN,1999-12-07,2013-05-08,94503.0
94503,9381675,2,1937,675,2010-11-04,True,31016.0,2001-02-28,2013-05-01,94503.0
94504,9829675,1,1931,675,2010-08-01,True,8195.0,2001-10-03,2013-04-25,94504.0
94505,10220675,2,1932,675,2007-02-02,True,7664.0,2002-05-01,2010-10-28,94505.0
94506,10259675,2,1919,675,2006-08-10,True,6578.0,2002-05-13,2009-01-29,94506.0
94386,423675,2,1919,675,2006-08-10,False,NaN,1999-12-07,2013-01-23,94506.0
94508,10526675,2,1920,675,2009-02-10,True,6578.0,2002-08-29,2012-12-11,94508.0
94509,11194675,1,1919,675,2006-07-01,True,6578.0,2003-03-20,2008-01-14,94509.0
94436,3700675,2,1925,675,2011-01-21,False,NaN,1999-12-07,2013-04-25,94510.0
94510,11265675,2,1925,675,2011-01-21,True,6578.0,2003-04-22,2012-07-24,94510.0
94512,11617675,2,1924,675,2007-08-06,True,6578.0,2003-10-01,2008-01-31,94512.0

In [15]:
pt_features.to_csv('data/pt_data/processed_data/pt_features_dempred.csv',index=False)

In [14]:
pt_features

,patid,gender,yob,pracid,index_date,isCase,final dementia medcode,data_start,data_end,matchid
62131,4307419,2,1910,419,2002-09-10,True,1917.0,1999-09-01,2002-09-11,62131.0
27033,12189179,1,1926,179,2000-02-18,True,1917.0,1997-02-03,2000-02-18,27033.0
81847,15431564,1,1917,564,2004-10-04,True,4693.0,2001-09-18,2004-10-06,81847.0
40783,23369263,2,1920,263,2009-06-04,True,6578.0,2006-05-12,2009-06-08,40783.0
6796,15203047,2,1926,047,2005-11-12,True,1916.0,2002-10-14,2005-11-14,6796.0
48531,3825320,1,1917,320,2003-07-10,True,1350.0,2000-06-28,2003-08-01,48531.0
27038,13223179,2,1905,179,2002-03-19,True,1916.0,1999-03-02,2002-04-05,27038.0
42848,10613282,2,1919,282,2003-12-18,True,4693.0,2000-11-28,2004-01-05,42848.0
28764,23999190,2,1924,190,2012-01-02,True,4693.0,2008-12-11,2012-01-19,28764.0
35251,50271229,1,1910,229,2000-07-28,True,1917.0,1997-06-19,2000-07-28,35251.0
60887,21385409,2,1910,409,2009-10-02,True,1350.0,2006-08-29,2009-10-08,60887.0
67818,15199456,2,1917,456,2008-05-09,True,1350.0,2005-03-29,2008-05-09,67818.0
17646,5946124,2,1928,124,2001-06-15,True,7664.0,1998-05-08,2001-06-21,17646.0
48532,3828320,2,1907,320,2003-08-06,True,1350.0,2000-06-28,2003-08-14,48532.0
48814,24585320,2,1916,320,2009-01-21,True,4693.0,2005-12-28,2009-02-12,48814.0
47049,24390310,2,1920,310,2011-03-23,True,6578.0,2008-03-12,2011-05-03,47049.0
86163,12940614,2,1918,614,2005-10-24,True,1916.0,2002-10-07,2005-11-28,86163.0
68237,5551458,2,1917,458,2008-01-24,True,1916.0,2005-01-24,2008-03-20,68237.0
58938,7725398,2,1914,398,2000-12-03,True,4693.0,1997-11-28,2001-01-25,58938.0
57229,5176384,1,1918,384,2002-12-19,True,8634.0,1999-10-22,2002-12-19,57229.0
63723,29125431,2,1918,431,2012-03-04,True,6578.0,2009-01-06,2012-03-08,63723.0
70953,4341471,1,1915,471,2000-01-18,True,7323.0,1996-11-22,2000-01-25,70953.0
36519,3135241,2,1915,241,2002-12-27,True,1916.0,1999-12-08,2003-02-10,36519.0
75862,556503,2,1923,503,2010-08-20,True,6578.0,2007-08-14,2010-10-18,75862.0
39603,25369256,2,1917,256,2011-02-22,True,1350.0,2007-12-17,2011-03-01,39603.0
64078,7061435,2,1904,435,2002-12-02,True,9509.0,1999-09-29,2002-12-13,64078.0
72198,2943480,1,1920,480,2004-06-02,True,4693.0,2001-03-23,2004-06-07,72198.0
46225,6090306,2,1909,306,2002-10-15,True,1350.0,1999-08-06,2002-10-21,46225.0
55939,10394377,1,1915,377,2004-05-22,True,1916.0,2001-04-01,2004-06-17,55939.0
71747,10643476,1,1909,476,2002-11-14,True,7664.0,1999-09-16,2002-12-02,71747.0
...,...,...,...,...,...,...,...,...,...,...
73684,5650488,1,1939,488,2012-01-23,True,1917.0,1995-02-17,2013-03-26,73684.0
73695,10531488,2,1927,488,2006-11-15,True,8195.0,1995-02-17,2013-04-04,73695.0
73701,11262488,1,1931,488,2011-11-09,True,6578.0,1995-02-17,2013-04-05,73701.0
73677,2546488,2,1939,488,2009-07-16,True,7664.0,1995-02-17,2013-04-06,73677.0
73704,12938488,1,1934,488,2006-08-14,True,8634.0,1995-02-17,2013-04-08,73704.0
73711,15195488,1,1939,488,2009-02-15,True,1916.0,1995-02-17,2013-04-12,73711.0
73689,8580488,1,1931,488,2011-11-09,False,NaN,1995-02-17,2013-04-15,73701.0
73696,10620488,2,1929,488,2012-01-25,False,NaN,1995-02-17,2013-04-15,73721.0
73707,13292488,1,1925,488,2006-05-17,False,NaN,1995-02-17,2013-04-16,73726.0
73713,16116488,2,1935,488,2002-07-02,False,NaN,1995-02-17,2013-04-16,73700.0
73718,17517488,1,1939,488,2012-01-23,False,NaN,1995-02-17,2013-04-17,73684.0
73676,2194488,2,1926,488,2003-08-03,True,1916.0,1995-02-17,2013-04-17,73676.0
73714,16606488,1,1942,488,2012-04-12,False,NaN,1995-02-17,2013-04-17,73687.0
73715,16816488,2,1922,488,2010-01-01,True,1916.0,1995-02-17,2013-04-17,73715.0
50920,2053336,1,1942,336,2009-05-05,False,NaN,1994-12-10,2013-02-22,50913.0
50897,1091336,2,1927,336,2010-04-20,False,NaN,1994-12-10,2013-03-05,50930.0
50886,584336,1,1922,336,2010-10-20,True,1350.0,1994-12-09,2013-04-24,50886.0
50904,1421336,1,1930,336,2011-09-26,True,8195.0,1994-12-09,2013-04-24,50904.0
50909,1562336,2,1920,336,2008-10-08,False,NaN,1994-12-09,2013-04-25,50892.0
50891,755336,2,1938,336,2012-01-19,True,1917.0,1994-12-09,2013-05-02,50891.0
50907,1503336,1,1930,336,2011-09-26,False,NaN,1994-12-09,2013-05-07,50904.0
50898,1130336,2,1938,336,2012-01-19,False,NaN,1994-12-10,2013-05-09,50891.0
50912,1716336,2,1921,336,2007-07-31,False,NaN,1994-12-09,2013-05-09,50883.0
50899,1188336,1,1938,336,2012-05-09,False,NaN,1994-12-09,2013-05-13,50881.0
50913,1737336,1,1942,336,2009-05-05,True,1917.0,1994-12-09,2013-05-14,50913.0
50900,1220336,2,1928,336,2011-07-11,False,NaN,1994-12-09,2013-05-15,50924.0
50889,715336,2,1930,336,2008-09-04,False,NaN,1994-12-09,2013-05-20,50882.0
50895,1033336,1,1928,336,2008-11-21,False,NaN,1994-12-09,2013-05-21,50938.0
50881,136336,1,1938,336,2012-05-09,True,1350.0,1994-12-09,2013-05-21,50881.0
50892,775336,2,1920,336,2008-10-08,True,1350.0,1994-12-09,2013-05-21,50892.0