In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
%aimport data_processing
%aimport codelists
%aimport constants
%aimport import_file

In [3]:
from data_processing import *

In [4]:
from import_file import *

In [5]:
pd.options.display.max_rows = 200

In [6]:
# create_pegmed()

In [7]:
# create_pegprod()

In [8]:
# create_medcoded_entries()

In [9]:
# create_prescriptions()

In [10]:
# create_consultations()

In [11]:
# all_entries = create_all_entries()

In [12]:
# all_entries = pd.read_csv('data/pt_data/all_entries.csv',delimiter=',',parse_dates=['sysdate','eventdate'],infer_datetime_format=True)

In [13]:
all_entries = pd.read_hdf('hdf/all_entries.hdf')

In [14]:
all_entries.sample(7)

           eventdate  medcode     patid  prodcode    sysdate  type
7273499   2009-01-03      NaN   8411109       NaN 2009-02-10     0
105961213 2011-07-22      NaN   2751055    6078.0 2011-07-22     5
104184615 2009-07-13      NaN    614032      85.0 2009-07-13     5
20227686  2005-11-01      NaN  20814274       NaN 2005-11-01     0
113015869 2008-11-03      NaN   5913127      45.0 2008-11-03     5
124922495 1993-07-27      NaN    666247      58.0 1997-04-11     5
27962099  1992-11-06      NaN   9639398       NaN 1997-11-28     0

In [15]:
# all_entries.to_hdf('hdf/all_entries.hdf', 'all_entries' ,mode='w')

In [16]:
pt_features = create_pt_features()

In [17]:
pt_features = get_index_date_and_caseness_and_add_final_dementia_subtype(all_entries,pt_features)

In [18]:
pt_features.sample(5)

          patid  gender   yob pracid index_date isCase  final dementia medcode
0         57001       1  1932    001 2006-12-05   True                 19477.0
1         60001       1  1924    001        NaT  False                     NaN
2        149001       2  1919    001 2004-07-02   True                  7572.0
3        364001       2  1937    001        NaT  False                     NaN
4        432001       2  1920    001        NaT  False                     NaN
5        519001       2  1927    001        NaT  False                     NaN
6        543001       1  1940    001 2006-02-09   True                  9509.0
7        558001       2  1937    001        NaT  False                     NaN
8        644001       2  1935    001 2008-08-12   True                  1350.0
9        663001       2  1918    001        NaT  False                     NaN
10       676001       2  1930    001        NaT  False                     NaN
11       702001       2  1922    001 2006-03-27   True                  6578.0
12       718001       1  1922    001 2007-02-26   True                  1917.0
13       746001       2  1927    001        NaT  False                     NaN
14       774001       1  1929    001        NaT  False                     NaN
15       802001       2  1924    001 2005-05-24   True                  4693.0
16       803001       1  1923    001 2007-09-12   True                  1350.0
17       819001       1  1927    001        NaT  False                     NaN
18       821001       1  1922    001        NaT  False                     NaN
19       830001       2  1921    001        NaT  False                     NaN
20       853001       1  1920    001        NaT  False                     NaN
21       960001       2  1919    001        NaT  False                     NaN
22      1064001       2  1928    001 2011-03-03   True                  1917.0
23      1142001       2  1917    001 2005-11-16   True                  1350.0
24      1252001       2  1928    001        NaT  False                     NaN
25      1645001       1  1929    001 2007-05-24   True                 26270.0
26      1670001       2  1926    001 2003-02-01   True                  1350.0
27      1791001       2  1918    001        NaT  False                     NaN
28      1939001       1  1927    001        NaT  False                     NaN
29      1946001       2  1928    001        NaT  False                     NaN
30      2136001       2  1923    001 2009-03-16   True                  6578.0
31      2150001       1  1922    001 2011-08-24   True                  1917.0
32      2156001       2  1916    001        NaT  False                     NaN
33      2192001       2  1928    001        NaT  False                     NaN
34      2279001       1  1916    001 2004-09-06   True                  1350.0
35      2286001       2  1919    001        NaT  False                     NaN
36      2586001       2  1920    001        NaT  False                     NaN
37      2742001       1  1914    001 2003-07-10   True                  6578.0
38      2747001       2  1923    001 2007-11-28   True                  4693.0
39      2763001       2  1913    001 2003-06-01   True                  1350.0
40      2834001       1  1927    001 2008-09-17   True                  1350.0
41      2855001       2  1926    001        NaT  False                     NaN
42      2856001       1  1928    001        NaT  False                     NaN
43      2985001       2  1914    001 2002-10-02   True                  7323.0
44      3157001       1  1928    001 2005-07-05   True                  6578.0
45      3216001       2  1914    001        NaT  False                     NaN
46      3282001       1  1927    001        NaT  False                     NaN
47      3296001       1  1934    001        NaT  False                     NaN
48      3427001       2  1932    001        NaT  False                     NaN
49      3500001       2  1934    001 2010-04-28   True                  1917.0
50      3510001       1  1928    001 2007-11-20   True                  1350.0
51      3545001       2  1919    001        NaT  False                     NaN
52      3762001       2  1920    001 2011-03-11   True                  1350.0
53      3795001       2  1926    001        NaT  False                     NaN
54      3804001       1  1911    001        NaT  False                     NaN
55      3807001       2  1923    001        NaT  False                     NaN
56      3856001       2  1921    001        NaT  False                     NaN
57      3891001       1  1937    001 2005-03-02   True                  1917.0
58      3914001       1  1940    001        NaT  False                     NaN
59      4077001       2  1926    001 2006-09-13   True                  1350.0
60      4113001       2  1930    001 2003-10-27   True                  7664.0
61      4289001       2  1918    001 2004-10-18   True                  1350.0
62      4301001       2  1917    001        NaT  False                     NaN
63      4345001       2  1916    001 2011-11-16   True                  6578.0
64      4362001       1  1931    001 2012-05-24   True                  6578.0
65      4394001       2  1914    001 2004-10-01   True                  1350.0
66      4485001       1  1933    001 2004-01-27   True                  1350.0
67      4662001       2  1914    001        NaT  False                     NaN
68      4766001       2  1923    001        NaT  False                     NaN
69      4816001       1  1947    001        NaT  False                     NaN
70      4826001       2  1918    001 2010-11-12   True                  6578.0
71      4828001       1  1918    001        NaT  False                     NaN
72      4909001       1  1935    001 2007-06-05   True                  1350.0
73      4940001       2  1920    001 2011-07-12   True                  1350.0
74      4949001       2  1921    001 2008-03-24   True                  1350.0
75      4991001       1  1916    001        NaT  False                     NaN
76      5092001       2  1923    001 2010-07-01   True                  1350.0
77      5128001       1  1927    001 2010-12-02   True                  6578.0
78      5137001       1  1916    001        NaT  False                     NaN
79      5413001       1  1932    001        NaT  False                     NaN
80      5452001       2  1917    001        NaT  False                     NaN
81      5551001       1  1923    001        NaT  False                     NaN
82      5688001       2  1923    001 2009-01-10   True                  1350.0
83      5740001       1  1934    001 2007-11-15   True                  7572.0
84      5898001       2  1935    001        NaT  False                     NaN
85      5942001       2  1920    001        NaT  False                     NaN
86      5976001       2  1935    001        NaT  False                     NaN
87      5988001       1  1929    001        NaT  False                     NaN
88      6014001       1  1924    001 2007-01-17   True                  1916.0
89      6044001       2  1926    001 2004-03-02   True                  1350.0
90      6227001       2  1926    001        NaT  False                     NaN
91      6290001       2  1918    001 2007-07-30   True                  1350.0
92      6507001       2  1934    001        NaT  False                     NaN
93      6522001       2  1925    001        NaT  False                     NaN
94      6570001       2  1919    001 2004-11-17   True                  1350.0
95      6665001       1  1939    001 2011-05-24   True                  9509.0
96      6804001       2  1926    001        NaT  False                     NaN
97      6859001       2  1911    001        NaT  False                     NaN
98      6891001       2  1922    001        NaT  False                     NaN
99      7046001       2  1924    001 2003-06-19   True                  4693.0
...         ...     ...   ...    ...        ...    ...                     ...
94414   2197675       1  1922    675        NaT  False                     NaN
94415   2244675       1  1936    675 2011-10-24   True                  6578.0
94416   2301675       2  1936    675        NaT  False                     NaN
94417   2303675       2  1916    675        NaT  False                     NaN
94418   2519675       2  1920    675 2008-05-01   True                 30706.0
94419   2527675       2  1922    675        NaT  False                     NaN
94420   2537675       2  1928    675        NaT  False                     NaN
94421   2634675       2  1929    675 2007-04-16   True                  8195.0
94422   2667675       2  1915    675        NaT  False                     NaN
94423   2727675       2  1938    675        NaT  False                     NaN
94424   2728675       2  1930    675 2010-03-16   True                  8195.0
94425   2878675       2  1921    675        NaT  False                     NaN
94426   2926675       2  1920    675 2006-07-24   True                  1916.0
94427   2930675       2  1931    675        NaT  False                     NaN
94428   2968675       2  1920    675        NaT  False                     NaN
94429   3053675       1  1934    675        NaT  False                     NaN
94430   3098675       2  1922    675 2007-02-03   True                  7664.0
94431   3266675       2  1929    675        NaT  False                     NaN
94432   3375675       2  1931    675        NaT  False                     NaN
94433   3395675       1  1937    675        NaT  False                     NaN
94434   3534675       2  1920    675        NaT  False                     NaN
94435   3580675       2  1929    675 2006-10-11   True                  4693.0
94436   3700675       2  1925    675        NaT  False                     NaN
94437   3709675       2  1936    675 2009-07-16   True                  8195.0
94438   3819675       2  1930    675        NaT  False                     NaN
94439   3831675       1  1934    675 2010-10-19   True                  6578.0
94440   4042675       1  1912    675 2006-05-25   True                  1916.0
94441   4088675       2  1927    675        NaT  False                     NaN
94442   4090675       2  1921    675 2012-04-30   True                  8195.0
94443   4110675       2  1916    675 2006-04-18   True                  6578.0
94444   4173675       1  1919    675        NaT  False                     NaN
94445   4301675       2  1932    675 2010-03-02   True                  7664.0
94446   4371675       2  1932    675        NaT  False                     NaN
94447   4415675       2  1921    675 2009-10-20   True                 31016.0
94448   4430675       2  1922    675 2009-01-08   True                 26270.0
94449   4478675       1  1926    675        NaT  False                     NaN
94450   4516675       1  1930    675 2008-04-08   True                  1917.0
94451   4623675       2  1943    675 2011-05-03   True                  4693.0
94452   4639675       1  1928    675        NaT  False                     NaN
94453   4828675       1  1931    675        NaT  False                     NaN
94454   4959675       1  1932    675        NaT  False                     NaN
94455   5006675       2  1923    675 2006-09-21   True                  4693.0
94456   5037675       2  1931    675 2007-03-08   True                  1917.0
94457   5486675       1  1924    675 2008-09-22   True                  4693.0
94458   5507675       1  1926    675        NaT  False                     NaN
94459   5517675       2  1921    675        NaT  False                     NaN
94460   5529675       2  1928    675 2007-03-23   True                  4693.0
94461   5568675       1  1922    675 2010-07-12   True                  8195.0
94462   5599675       2  1934    675 2009-01-19   True                  1917.0
94463   5619675       2  1931    675 2006-11-30   True                 55313.0
94464   5731675       1  1924    675        NaT  False                     NaN
94465   5782675       2  1932    675        NaT  False                     NaN
94466   5949675       2  1923    675 2006-11-30   True                  7664.0
94467   6030675       2  1931    675 2010-08-04   True                 31016.0
94468   6067675       2  1923    675        NaT  False                     NaN
94469   6094675       2  1930    675 2008-07-18   True                  7664.0
94470   6143675       1  1923    675 2006-07-17   True                  5931.0
94471   6274675       1  1931    675 2011-07-29   True                  6578.0
94472   6307675       1  1930    675        NaT  False                     NaN
94473   6309675       1  1937    675 2011-02-03   True                  6578.0
94474   6415675       1  1937    675 2011-05-12   True                 29386.0
94475   6420675       2  1931    675        NaT  False                     NaN
94476   6440675       1  1928    675 2009-03-02   True                  7664.0
94477   6446675       1  1924    675 2006-09-26   True                  1917.0
94478   6448675       2  1930    675        NaT  False                     NaN
94479   6501675       1  1926    675 2007-08-15   True                  6578.0
94480   6635675       2  1931    675 2011-01-27   True                  8195.0
94481   6681675       1  1920    675        NaT  False                     NaN
94482   6780675       2  1920    675        NaT  False                     NaN
94483   6784675       2  1920    675        NaT  False                     NaN
94484   6787675       2  1928    675 2009-04-02   True                  1917.0
94485   6826675       2  1921    675        NaT  False                     NaN
94486   7037675       2  1921    675        NaT  False                     NaN
94487   7405675       2  1938    675 2009-08-20   True                  8195.0
94488   7411675       1  1929    675 2005-11-23   True                  8195.0
94489   7534675       2  1923    675        NaT  False                     NaN
94490   7728675       2  1930    675        NaT  False                     NaN
94491   7834675       1  1937    675        NaT  False                     NaN
94492   7853675       1  1936    675        NaT  False                     NaN
94493   7860675       2  1912    675 2009-03-17   True                  8195.0
94494   7934675       1  1924    675        NaT  False                     NaN
94495   8129675       1  1923    675        NaT  False                     NaN
94496   8130675       1  1912    675 2009-01-29   True                  4357.0
94497   8234675       2  1921    675 2007-07-09   True                  8195.0
94498   8251675       2  1933    675        NaT  False                     NaN
94499   8430675       1  1928    675        NaT  False                     NaN
94500   8440675       1  1922    675        NaT  False                     NaN
94501   8597675       2  1921    675 2006-05-25   True                  6578.0
94502   8757675       2  1928    675        NaT  False                     NaN
94503   9381675       2  1937    675 2010-11-04   True                 31016.0
94504   9829675       1  1931    675 2010-08-01   True                  8195.0
94505  10220675       2  1932    675 2007-02-02   True                  7664.0
94506  10259675       2  1919    675 2006-08-10   True                  6578.0
94507  10417675       2  1922    675        NaT  False                     NaN
94508  10526675       2  1920    675 2009-02-10   True                  6578.0
94509  11194675       1  1919    675 2006-07-01   True                  6578.0
94510  11265675       2  1925    675 2011-01-21   True                  6578.0
94511  11503675       2  1929    675        NaT  False                     NaN
94512  11617675       2  1924    675 2007-08-06   True                  6578.0
94513  12742675       2  1913    675        NaT  False                     NaN

[94514 rows x 7 columns]

In [19]:
pt_features = add_data_start_and_end_dates(all_entries,pt_features)

In [20]:
pt_features.sample(5)

,patid,gender,yob,pracid,index_date,isCase,final dementia medcode,data_start,data_end
37264,13387244,2,1929,244,2006-07-31,True,4693.0,2000-03-03,2007-07-16
45430,17223297,2,1914,297,NaT,False,NaN,2005-09-26,2009-02-09
13316,14625093,2,1925,093,NaT,False,NaN,1996-06-24,2013-04-19
75552,7653501,2,1927,501,NaT,False,NaN,2006-09-11,2013-05-14
86332,555616,1,1913,616,NaT,False,NaN,2004-01-22,2010-06-02

In [22]:
pt_features = calculate_amount_of_data_available(pt_features,isCase=True)

In [23]:
pt_features.sample(5)

,patid,gender,yob,pracid,index_date,isCase,final dementia medcode,data_start,data_end,days pre_indexdate,days post_indexdate
72683,18529481,1,1928,481,2008-01-12,True,11175.0,2008-04-15,2010-03-05,-94.0,783.0
19790,3486134,2,1937,134,NaT,False,NaN,2002-02-21,2008-09-24,NaN,NaN
42051,1322274,2,1923,274,NaT,False,NaN,1999-10-25,2011-06-09,NaN,NaN
14717,394106,1,1920,106,2007-10-31,True,1916.0,2005-07-28,2009-03-10,825.0,496.0
10725,6846081,2,1926,081,2010-01-25,True,6578.0,1996-09-12,2013-04-05,4883.0,1166.0

In [ ]:
# pt_features = delete_patients_if_not_enough_data(isCase=True,pt_features)

In [ ]:
# pt_features = match_cases_and_controls(pt_features)

In [ ]:
# pt_features = delete_unmatched_cases_and_controls()

In [ ]:
# pt_features = calculate_amount_of_data_available(isCase=False,pt_features)

In [24]:
pt_features.to_csv('data/pt_data/pt_features.csv',index=False)

In [ ]:
len(pt_features)

In [ ]:
pt_features