In [205]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [206]:
cd ~/demres

/Users/zurfarosa/demres

In [207]:
import os
import sys

module_path = os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.append(module_path)

import pandas as pd
import numpy as np
from datetime import date, timedelta

import demres
from demres.common.constants import entry_type
from demres.common import codelists
from demres.common.helper_functions import *
from demres.demins.constants import Study_Design
from demres.demins.functions import *
from demres.common.process_entries import *

In [208]:
pt_features = pd.read_csv('data/pt_data/processed_data/pt_features_demins.csv',delimiter=',',parse_dates=['index_date','data_end','data_start'],infer_datetime_format=True)

In [209]:
pt_features.head(3)

,patid,gender,yob,pracid,index_date,isCase,final dementia medcode,data_start,data_end,matchid,insom_count_window0,insom_count_window1
0,12440330,2,1925,330,2010-03-30,True,4693.0,2000-03-22,2010-04-09,50163.0,0,0
1,16055443,2,1927,443,2010-12-20,True,1350.0,2000-12-15,2011-01-13,65618.0,0,0
2,2994148,2,1919,148,2007-02-15,True,1916.0,1997-01-20,2007-02-21,21685.0,1,1

In [6]:
all_entries = create_all_entries()

In [210]:
all_entries

           eventdate    sysdate  medcode  prodcode    patid  type
0         1991-06-11 1997-03-07      NaN       NaN    57001     0
1         1990-11-19 1997-03-07      NaN       NaN    57001     0
2         1986-01-01 1997-03-07      NaN       NaN    57001     0
3         1989-02-27 1997-03-07      NaN       NaN    57001     0
4         1989-05-09 1997-03-07      NaN       NaN    57001     0
5         1989-08-07 1997-03-07      NaN       NaN    57001     0
6         1989-11-10 1997-03-07      NaN       NaN    57001     0
7         1990-07-27 1997-03-07      NaN       NaN    57001     0
8         1990-11-23 1997-03-07      NaN       NaN    57001     0
9         1991-07-19 1997-03-07      NaN       NaN    57001     0
10        1991-12-14 1997-03-07      NaN       NaN    57001     0
11        1994-10-31 1997-03-07      NaN       NaN    57001     0
12        1995-10-26 1997-03-07      NaN       NaN    57001     0
13        1989-02-08 1997-03-08      NaN       NaN    57001     0
14        1989-02-20 1997-03-08      NaN       NaN    57001     0
15        1989-07-10 1997-03-08      NaN       NaN    57001     0
16        1989-08-25 1997-03-08      NaN       NaN    57001     0
17        1989-09-21 1997-03-08      NaN       NaN    57001     0
18        1990-07-09 1997-03-08      NaN       NaN    57001     0
19        1990-10-04 1997-03-08      NaN       NaN    57001     0
20        1991-05-20 1997-03-08      NaN       NaN    57001     0
21        1994-08-15 1997-03-08      NaN       NaN    57001     0
22        1994-09-22 1997-03-08      NaN       NaN    57001     0
23        1995-01-05 1997-03-08      NaN       NaN    57001     0
24        1995-03-15 1997-03-08      NaN       NaN    57001     0
25        1996-06-28 1997-03-08      NaN       NaN    57001     0
26        1996-09-19 1997-03-08      NaN       NaN    57001     0
27        1996-12-09 1997-03-08      NaN       NaN    57001     0
28        1997-03-04 1997-03-08      NaN       NaN    57001     0
29        1991-06-04 1997-03-09      NaN       NaN    57001     0
...              ...        ...      ...       ...      ...   ...
133054573 2004-12-31 2004-12-31      NaN      22.0  9828335     5
133054574 2004-12-31 2004-12-31      NaN      36.0  9828335     5
133054575 2004-12-31 2004-12-31      NaN    4741.0  9828335     5
133054576 2004-12-31 2004-12-31      NaN       6.0  9828335     5
133054577 2004-12-31 2004-12-31      NaN       3.0  9828335     5
133054578 2004-12-31 2004-12-31      NaN     729.0  9828335     5
133054579 2004-12-31 2004-12-31      NaN    9665.0  9828335     5
133054580 2005-01-31 2005-01-31      NaN       6.0  9828335     5
133054581 2005-01-31 2005-01-31      NaN    5283.0  9828335     5
133054582 2005-01-31 2005-01-31      NaN    1219.0  9828335     5
133054583 2005-01-31 2005-01-31      NaN      22.0  9828335     5
133054584 2005-01-31 2005-01-31      NaN      36.0  9828335     5
133054585 2005-01-31 2005-01-31      NaN    4741.0  9828335     5
133054586 2005-01-31 2005-01-31      NaN       3.0  9828335     5
133054587 2005-01-31 2005-01-31      NaN     729.0  9828335     5
133054588 2005-01-31 2005-02-01      NaN     800.0  9828335     5
133054589 2005-01-31 2005-02-01      NaN       6.0  9828335     5
133054590 2005-02-25 2005-02-25      NaN       6.0  9828335     5
133054591 2005-02-25 2005-02-25      NaN    5283.0  9828335     5
133054592 2005-02-25 2005-02-25      NaN    1219.0  9828335     5
133054593 2005-02-25 2005-02-25      NaN      22.0  9828335     5
133054594 2005-02-25 2005-02-25      NaN      36.0  9828335     5
133054595 2005-02-25 2005-02-25      NaN    4741.0  9828335     5
133054596 2005-02-25 2005-02-25      NaN       3.0  9828335     5
133054597 2005-02-25 2005-02-25      NaN     729.0  9828335     5
133054598 2005-02-25 2005-02-25      NaN    9665.0  9828335     5
133054599 2005-02-25 2005-02-25      NaN      64.0  9828335     5
133054600 2005-03-01 2005-03-01      NaN     800.0  9828335     5
133054601 2005-03-07 2005-03-07      NaN     847.0  9828335     5
133054602 2005-03-07 2005-03-07      NaN    2795.0  9828335     5

[133054603 rows x 6 columns]

In [211]:
pt_features = get_consultation_count(pt_features,all_entries,get_windows())

In [212]:
pt_features

,patid,gender,yob,pracid,index_date,isCase,final dementia medcode,data_start,data_end,matchid,insom_count_window0,insom_count_window1,consultation_count_window0,consultation_count_window1
0,12440330,2,1925,330,2010-03-30,True,4693.0,2000-03-22,2010-04-09,50163.0,0,0,170,227
1,16055443,2,1927,443,2010-12-20,True,1350.0,2000-12-15,2011-01-13,65618.0,0,0,215,124
2,2994148,2,1919,148,2007-02-15,True,1916.0,1997-01-20,2007-02-21,21685.0,1,1,58,133
3,4552183,1,1939,183,2010-09-29,True,26270.0,2000-09-22,2010-10-28,27826.0,0,0,5,27
4,6726262,1,1933,262,2007-02-23,True,9509.0,1997-02-09,2007-03-23,40443.0,0,1,240,251
5,706017,2,1925,17,2008-05-22,True,4693.0,1998-04-18,2008-06-05,2566.0,0,0,215,463
6,14778043,1,1921,43,2006-01-31,True,1350.0,1996-01-05,2006-02-23,6185.0,0,0,24,97
7,1451179,1,1931,179,2006-09-20,True,1350.0,1996-08-09,2006-09-29,26929.0,0,0,107,120
8,6140152,1,1931,152,2010-04-09,True,6578.0,2000-04-03,2010-05-24,22088.0,0,0,177,337
9,9756466,1,1919,466,2011-01-11,True,6578.0,2000-12-13,2011-02-03,69829.0,0,0,6,27
10,2306171,2,1928,171,2009-03-11,True,4693.0,1999-01-27,2009-03-25,25682.0,0,0,108,131
11,2362157,2,1920,157,2006-03-29,True,1350.0,1996-02-20,2006-04-18,23177.0,1,0,169,192
12,4265225,1,1929,225,2006-07-04,True,1350.0,1996-06-20,2006-08-23,34257.0,0,0,48,191
13,12323079,1,1928,79,2008-08-08,True,7323.0,1998-07-18,2008-09-29,10440.0,0,0,45,227
14,13070427,1,1928,427,2005-09-09,True,1350.0,1995-09-02,2005-11-17,63133.0,0,0,22,87
15,6298465,2,1924,465,2006-10-10,True,7664.0,1996-08-17,2006-11-08,69552.0,0,2,128,286
16,1581056,1,1918,56,2006-09-28,True,6578.0,1996-08-06,2006-10-31,7785.0,2,2,14,66
17,11373473,2,1919,473,2010-01-23,True,4693.0,1999-12-16,2010-03-15,71410.0,0,0,165,346
18,19653089,2,1913,89,2007-08-29,True,4693.0,1997-07-25,2007-10-25,12509.0,0,0,35,227
19,5131622,2,1915,622,2006-07-11,True,8195.0,1996-06-06,2006-09-08,87102.0,0,0,110,116
20,3125036,2,1916,36,2009-11-02,True,7664.0,1999-10-11,2010-01-12,5444.0,1,0,63,91
21,2671672,1,1918,672,2009-12-15,True,6578.0,1999-09-27,2009-12-31,94049.0,1,0,109,150
22,14965158,2,1925,158,2009-04-17,True,1350.0,1999-03-24,2009-06-29,23526.0,0,0,69,161
23,295598,2,1930,598,2009-12-17,True,4693.0,1999-12-09,2010-03-23,84891.0,2,6,173,323
24,3257168,2,1927,168,2010-11-18,True,7664.0,2000-11-17,2011-03-02,25366.0,0,0,82,197
25,8959322,2,1920,322,2005-12-10,True,4693.0,1995-09-21,2006-01-05,49176.0,0,0,169,275
26,5659012,2,1919,12,2010-02-10,True,1916.0,1999-12-01,2010-03-17,1995.0,0,0,168,255
27,11712435,1,1926,435,2010-07-06,True,6578.0,2000-06-02,2010-09-22,64130.0,0,0,168,472
28,2514132,2,1921,132,2010-12-30,True,4693.0,2000-09-14,2011-01-04,19510.0,0,0,141,151
29,1846443,2,1919,443,2011-02-03,True,1916.0,2000-12-15,2011-04-06,65508.0,0,0,113,219
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12706,8146013,2,1927,13,2009-01-15,True,4357.0,1995-07-28,2013-05-14,2161.0,0,0,52,169
12707,13155013,2,1924,13,2006-01-24,True,1917.0,1995-07-28,2013-05-14,2225.0,0,0,351,273
12708,18944013,2,1922,13,2006-05-08,True,8634.0,1995-07-28,2013-05-14,2297.0,0,0,51,78
12709,367013,2,1930,13,2011-01-07,False,NaN,1995-07-28,2013-05-14,2349.0,0,0,281,295
12710,4847013,1,1935,13,2010-03-24,False,NaN,1995-07-28,2013-05-14,2316.0,0,1,109,126
12711,1917013,2,1920,13,2009-01-27,False,NaN,1995-07-28,2013-05-14,2151.0,0,0,82,138
12712,11999013,2,1926,13,2010-09-16,False,NaN,1995-07-28,2013-05-15,2204.0,0,0,141,164
12713,4518013,2,1928,13,2010-04-07,False,NaN,1995-07-28,2013-05-16,2193.0,0,0,313,323
12714,7047013,1,1924,13,2006-11-09,False,NaN,1995-07-28,2013-05-16,2167.0,0,0,33,53
12715,18223013,2,1919,13,2010-08-04,True,6578.0,1995-07-28,2013-05-16,2284.0,0,0,109,250
12716,2669013,1,1924,13,2010-05-17,False,NaN,1995-07-28,2013-05-16,2058.0,0,0,109,162
12717,1359013,2,1927,13,2009-01-15,False,NaN,1995-07-28,2013-05-17,2161.0,0,0,86,178
12718,11312013,2,1923,13,2009-04-15,True,8634.0,1995-07-28,2013-05-17,2203.0,0,0,153,227
12719,15930013,1,1932,13,2010-06-21,False,NaN,1995-07-28,2013-05-17,2048.0,0,0,127,468
12720,14646488,2,1939,488,2009-07-16,False,NaN,1995-02-17,2013-03-10,73677.0,0,0,102,70
12721,6774488,1,1937,488,2008-01-22,False,NaN,1995-02-17,2013-03-22,73681.0,0,0,28,103
12722,10531488,2,1927,488,2006-11-15,True,8195.0,1995-02-17,2013-04-04,73695.0,0,0,145,120
12723,2546488,2,1939,488,2009-07-16,True,7664.0,1995-02-17,2013-04-06,73677.0,0,0,186,229
12724,12938488,1,1934,488,2006-08-14,True,8634.0,1995-02-17,2013-04-08,73704.0,0,0,34,73
12725,15195488,1,1939,488,2009-02-15,True,1916.0,1995-02-17,2013-04-12,73711.0,0,0,111,131
12726,2053336,1,1942,336,2009-05-05,False,NaN,1994-12-10,2013-02-22,50913.0,0,0,112,177
12727,1091336,2,1927,336,2010-04-20,False,NaN,1994-12-10,2013-03-05,50930.0,0,0,19,7
12728,1701336,1,1923,336,2009-01-19,False,NaN,1994-12-09,2013-03-28,50901.0,0,0,112,197
12729,1562336,2,1920,336,2008-10-08,False,NaN,1994-12-09,2013-04-25,50892.0,0,0,110,152
12730,1130336,2,1938,336,2009-08-18,False,NaN,1994-12-10,2013-05-09,50894.0,0,0,17,18
12731,1716336,2,1921,336,2007-07-31,False,NaN,1994-12-09,2013-05-09,50883.0,0,0,158,163
12732,1737336,1,1942,336,2009-05-05,True,1917.0,1994-12-09,2013-05-14,50913.0,0,0,17,49
12733,1220336,2,1928,336,2010-12-08,False,NaN,1994-12-09,2013-05-15,50925.0,0,0,10,84
12734,715336,2,1930,336,2008-09-04,False,NaN,1994-12-09,2013-05-20,50882.0,0,0,13,38
12735,775336,2,1920,336,2008-10-08,True,1350.0,1994-12-09,2013-05-21,50892.0,0,0,198,365

In [213]:
pt_features.to_csv('data/pt_data/processed_data/pt_features_demins.csv',index=False)

In [215]:
cases = pt_features[pt_features['isCase']==True]
controls = pt_features[pt_features['isCase']==False]

In [218]:
cases['consultation_count_window1'].mean()

228.99120603015075

In [219]:
controls['consultation_count_window1'].mean()

185.23822236180905