In [13]:
%load_ext autoreload
%autoreload 1

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [14]:
%aimport my_functions
%aimport csv_creator_functions
%aimport codelists
%aimport constants

In [15]:
import pandas as pd
from my_functions import *
from matching_functions import *
from csv_creator_functions import *
import codelists
import constants
import datetime

In [5]:
# pd.options.display.max_rows = 5000

In [6]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:95% !important; }</style>"))

In [21]:
matching_unmatched_removed = pd.read_csv('data/pt_data/matching_unmatched_removed.csv',delimiter=',',parse_dates=True,infer_datetime_format=True,dayfirst=True)

In [24]:
matching_unmatched_removed[matching_unmatched_removed['case_patid']==5201030]

,case_patid,case_pracid,case_gender,case_birthyear,case_index,match,control_patid,control_pracid,control_gender,control_birthyear,control_start,control_end
24004,5201030,30,2,1935,2009-05-11,1,2992030,30,2,1935,01/01/2000,01/06/2012

In [33]:
create_pt_features()

In [39]:
pt_features = pd.read_csv('data/pt_data/pt_features.csv',delimiter=',',parse_dates=['index_date'],infer_datetime_format=True)

In [40]:
pt_features[pt_features['patid']==5201030]

         patid  pracid  gender  birthyear index_date isCase
24004  5201030      30       2       1935 2009-05-11   True

In [41]:
pt_features['index_date'].dtype

dtype('<M8[ns]')

In [58]:
presc1 = pd.read_csv('data/pt_data/Extract_Therapy_001.txt',delimiter='\t',usecols=['patid','sysdate','eventdate','prodcode','qty','ndd','numdays','numpacks','packtype','issueseq'],parse_dates=['sysdate','eventdate'],infer_datetime_format=True,dayfirst=True)

In [59]:
presc1.head(5)

,patid,eventdate,sysdate,prodcode,qty,ndd,numdays,numpacks,packtype,issueseq
0,57001,08/02/1989,1997-03-08,807,50.0,2.0,0,0.0,0,0
1,57001,20/02/1989,1997-03-08,2322,300.0,60.0,0,0.0,6,0
2,57001,27/02/1989,1997-03-08,2322,300.0,0.0,0,0.0,6,0
3,57001,09/05/1989,1997-03-08,44,30.0,0.0,0,0.0,0,0
4,57001,10/07/1989,1997-03-08,79,10.0,4.0,0,0.0,6,0

In [62]:
presc1['eventdate'].dtype

dtype('O')

In [45]:
presc1_not_parsed = pd.read_csv('data/pt_data/Extract_Therapy_001.txt',delimiter='\t',usecols=['patid','sysdate','eventdate','prodcode','qty','ndd','numdays','numpacks','packtype','issueseq'])

In [55]:
presc1_not_parsed.head(5)

,patid,eventdate,sysdate,prodcode,qty,ndd,numdays,numpacks,packtype,issueseq
0,57001,08/02/1989,08/03/1997,807,50.0,2.0,0,0.0,0,0
1,57001,20/02/1989,08/03/1997,2322,300.0,60.0,0,0.0,6,0
2,57001,27/02/1989,08/03/1997,2322,300.0,0.0,0,0.0,6,0
3,57001,09/05/1989,08/03/1997,44,30.0,0.0,0,0.0,0,0
4,57001,10/07/1989,08/03/1997,79,10.0,4.0,0,0.0,6,0

In [65]:
presc1_not_parsed['eventdate2'] = pd.to_datetime(presc1_not_parsed['eventdate'],dayfirst=True,errors='coerce', infer_datetime_format=True)

In [68]:
presc1_not_parsed.sort_values(by='eventdate2', ascending=False)

,patid,eventdate,sysdate,prodcode,qty,ndd,numdays,numpacks,packtype,issueseq,eventdate2
3181943,2308031,31/03/2014,29/04/2013,749,28.0,1.0,0,0.0,921,13,2014-03-31
3181956,2308031,31/03/2014,29/04/2013,3,28.0,1.0,0,0.0,921,13,2014-03-31
3181969,2308031,31/03/2014,29/04/2013,25,28.0,1.0,0,0.0,921,13,2014-03-31
3181982,2308031,31/03/2014,29/04/2013,18,28.0,1.0,0,0.0,925,13,2014-03-31
3181995,2308031,31/03/2014,29/04/2013,2,28.0,1.0,0,0.0,921,13,2014-03-31
3181942,2308031,03/03/2014,29/04/2013,749,28.0,1.0,0,0.0,921,12,2014-03-03
3181968,2308031,03/03/2014,29/04/2013,25,28.0,1.0,0,0.0,921,12,2014-03-03
3181981,2308031,03/03/2014,29/04/2013,18,28.0,1.0,0,0.0,925,12,2014-03-03
3181994,2308031,03/03/2014,29/04/2013,2,28.0,1.0,0,0.0,921,12,2014-03-03
3181955,2308031,03/03/2014,29/04/2013,3,28.0,1.0,0,0.0,921,12,2014-03-03
13049052,14541135,22/02/2014,01/02/2014,3,7.0,1.0,0,0.0,921,4,2014-02-22
13049048,14541135,22/02/2014,01/02/2014,75,7.0,0.0,0,0.0,921,4,2014-02-22
13049056,14541135,22/02/2014,01/02/2014,749,7.0,0.0,0,0.0,921,4,2014-02-22
13049055,14541135,15/02/2014,01/02/2014,749,7.0,0.0,0,0.0,921,3,2014-02-15
13049051,14541135,15/02/2014,01/02/2014,3,7.0,1.0,0,0.0,921,3,2014-02-15
13049047,14541135,15/02/2014,01/02/2014,75,7.0,0.0,0,0.0,921,3,2014-02-15
13049054,14541135,08/02/2014,01/02/2014,749,7.0,0.0,0,0.0,921,2,2014-02-08
13049050,14541135,08/02/2014,01/02/2014,3,7.0,1.0,0,0.0,921,2,2014-02-08
13049046,14541135,08/02/2014,01/02/2014,75,7.0,0.0,0,0.0,921,2,2014-02-08
3325599,14248031,04/02/2014,05/03/2013,749,28.0,1.0,0,0.0,921,13,2014-02-04
3325638,14248031,04/02/2014,05/03/2013,25,28.0,1.0,0,0.0,921,13,2014-02-04
3325612,14248031,04/02/2014,05/03/2013,5201,56.0,2.0,0,0.0,955,13,2014-02-04
3325586,14248031,04/02/2014,05/03/2013,6,56.0,2.0,0,0.0,921,13,2014-02-04
3325625,14248031,04/02/2014,05/03/2013,4818,28.0,1.0,0,0.0,921,13,2014-02-04
3325573,14248031,04/02/2014,05/03/2013,531,28.0,1.0,0,0.0,921,13,2014-02-04
3181967,2308031,03/02/2014,29/04/2013,25,28.0,1.0,0,0.0,921,11,2014-02-03
3181993,2308031,03/02/2014,29/04/2013,2,28.0,1.0,0,0.0,921,11,2014-02-03
3181954,2308031,03/02/2014,29/04/2013,3,28.0,1.0,0,0.0,921,11,2014-02-03
3181941,2308031,03/02/2014,29/04/2013,749,28.0,1.0,0,0.0,921,11,2014-02-03
3181980,2308031,03/02/2014,29/04/2013,18,28.0,1.0,0,0.0,925,11,2014-02-03
...,...,...,...,...,...,...,...,...,...,...,...
3909880,2218043,07/07/1972,05/01/1996,3275,600.0,20.0,0,0.0,6,0,1972-07-07
10444763,447115,13/04/1972,03/03/1996,291,1.0,0.0,0,0.0,0,0,1972-04-13
3560452,10311035,01/02/1972,20/05/1999,10879,100.0,1.0,100,0.0,0,0,1972-02-01
3560451,10311035,08/04/1970,20/05/1999,14459,6.0,0.0,0,0.0,4,0,1970-04-08
10471031,1639115,30/03/1970,03/03/1996,291,1.0,0.0,0,0.0,0,0,1970-03-30
10478253,1985115,08/02/1965,03/03/1996,138,1.0,0.0,0,0.0,0,0,1965-02-08
5248876,1599057,01/01/2500,26/04/2013,594,28.0,1.0,0,0.0,921,1,NaT
5248877,1599057,01/01/2500,26/04/2013,594,28.0,1.0,0,0.0,921,2,NaT
5248878,1599057,01/01/2500,26/04/2013,554,4.0,0.0,0,0.0,921,2,NaT
5248879,1599057,01/01/2500,26/04/2013,554,4.0,0.0,0,0.0,921,3,NaT
5248880,1599057,01/01/2500,26/04/2013,7,100.0,8.0,0,0.0,921,5,NaT
5248881,1599057,01/01/2500,26/04/2013,7,100.0,8.0,0,0.0,921,6,NaT
5248882,1599057,01/01/2500,26/04/2013,90,10.0,0.0,0,0.0,6,2,NaT
5248883,1599057,01/01/2500,26/04/2013,90,10.0,0.0,0,0.0,6,3,NaT
5248884,1599057,01/01/2500,26/04/2013,30,28.0,1.0,0,0.0,925,2,NaT
5248885,1599057,01/01/2500,26/04/2013,30,28.0,1.0,0,0.0,925,3,NaT
5248886,1599057,01/01/2500,26/04/2013,593,28.0,1.0,0,0.0,921,5,NaT
5248887,1599057,01/01/2500,26/04/2013,593,28.0,1.0,0,0.0,921,6,NaT
5248888,1599057,01/01/2500,26/04/2013,6,28.0,1.0,0,0.0,921,5,NaT
5248889,1599057,01/01/2500,26/04/2013,6,28.0,1.0,0,0.0,921,6,NaT
5248890,1599057,01/01/2500,26/04/2013,51,28.0,1.0,0,0.0,921,5,NaT
5248891,1599057,01/01/2500,26/04/2013,51,28.0,1.0,0,0.0,921,6,NaT
5248892,1599057,01/01/2500,26/04/2013,3,28.0,1.0,0,0.0,921,5,NaT
5248893,1599057,01/01/2500,26/04/2013,3,28.0,1.0,0,0.0,921,6,NaT
7688053,1200087,01/01/2500,18/11/2003,2139,1.0,0.0,0,0.0,73,0,NaT
9223532,10579101,01/01/2500,31/08/2011,80,7.0,1.0,0,0.0,925,2,NaT
9223533,10579101,01/01/2500,31/08/2011,495,14.0,2.0,0,0.0,921,2,NaT
10698788,708117,NaN,28/08/1996,11,60.0,9.0,0,0.0,0,0,NaT
10732695,9022117,NaN,28/08/1996,7674,1.0,0.0,0,0.0,4,0,NaT
10875748,5504120,01/01/2500,15/09/2006,2552,1.0,0.0,0,0.0,242,0,NaT

In [70]:
presc1_not_parsed[presc1_not_parsed['patid']==1599057]

,patid,eventdate,sysdate,prodcode,qty,ndd,numdays,numpacks,packtype,issueseq,eventdate2
5247224,1599057,05/03/1991,28/06/2000,21,60.0,2.0,0,0.0,0,0,1991-03-05
5247225,1599057,11/06/1991,28/06/2000,21,60.0,2.0,0,0.0,0,0,1991-06-11
5247226,1599057,14/02/1992,28/06/2000,21,60.0,2.0,0,0.0,0,0,1992-02-14
5247227,1599057,04/12/1992,28/06/2000,21,60.0,2.0,0,0.0,0,0,1992-12-04
5247228,1599057,23/02/1993,28/06/2000,21,60.0,2.0,0,0.0,0,0,1993-02-23
5247229,1599057,23/09/1993,28/06/2000,21,NaN,2.0,30,0.0,0,0,1993-09-23
5247230,1599057,05/07/1994,28/06/2000,21,NaN,2.0,30,0.0,0,0,1994-07-05
5247231,1599057,22/08/1994,28/06/2000,21,NaN,2.0,30,0.0,0,0,1994-08-22
5247232,1599057,08/11/1994,28/06/2000,21,NaN,2.0,30,0.0,0,0,1994-11-08
5247233,1599057,06/12/1994,28/06/2000,21,NaN,2.0,30,0.0,0,0,1994-12-06
5247234,1599057,14/06/1995,28/06/2000,1793,1.0,0.0,0,0.0,4,0,1995-06-14
5247235,1599057,14/06/1995,28/06/2000,21,NaN,1.0,30,0.0,0,0,1995-06-14
5247236,1599057,14/06/1995,28/06/2000,56,30.0,1.0,30,0.0,0,0,1995-06-14
5247237,1599057,14/06/1995,28/06/2000,5,NaN,1.0,30,0.0,0,0,1995-06-14
5247238,1599057,26/06/1995,28/06/2000,56,30.0,1.0,30,0.0,0,0,1995-06-26
5247239,1599057,12/07/1995,28/06/2000,21,NaN,1.0,30,0.0,0,0,1995-07-12
5247240,1599057,12/07/1995,28/06/2000,56,30.0,1.0,30,0.0,0,0,1995-07-12
5247241,1599057,12/07/1995,28/06/2000,5,NaN,1.0,30,0.0,0,0,1995-07-12
5247242,1599057,12/07/1995,28/06/2000,1184,1.0,0.0,30,0.0,4,0,1995-07-12
5247243,1599057,09/08/1995,28/06/2000,56,NaN,1.0,60,0.0,0,0,1995-08-09
5247244,1599057,06/09/1995,28/06/2000,56,NaN,1.0,60,0.0,0,0,1995-09-06
5247245,1599057,06/09/1995,28/06/2000,5,NaN,1.0,60,0.0,0,0,1995-09-06
5247246,1599057,06/09/1995,28/06/2000,21,NaN,1.0,60,0.0,0,0,1995-09-06
5247247,1599057,04/10/1995,28/06/2000,56,NaN,1.0,60,0.0,0,0,1995-10-04
5247248,1599057,04/10/1995,28/06/2000,5,NaN,1.0,60,0.0,0,0,1995-10-04
5247249,1599057,04/10/1995,28/06/2000,1184,1.0,0.0,60,0.0,4,0,1995-10-04
5247250,1599057,04/10/1995,28/06/2000,21,NaN,1.0,60,0.0,0,0,1995-10-04
5247251,1599057,04/10/1995,28/06/2000,1641,1.0,0.0,0,0.0,4,0,1995-10-04
5247252,1599057,28/11/1995,28/06/2000,56,NaN,1.0,60,0.0,0,0,1995-11-28
5247253,1599057,28/11/1995,28/06/2000,5,NaN,1.0,60,0.0,0,0,1995-11-28
...,...,...,...,...,...,...,...,...,...,...,...
5248866,1599057,18/04/2013,18/04/2013,14333,21.0,3.0,0,0.0,925,0,2013-04-18
5248867,1599057,26/04/2013,26/04/2013,554,4.0,0.0,0,0.0,921,1,2013-04-26
5248868,1599057,26/04/2013,26/04/2013,7,100.0,8.0,0,0.0,921,4,2013-04-26
5248869,1599057,26/04/2013,26/04/2013,90,10.0,0.0,0,0.0,6,1,2013-04-26
5248870,1599057,26/04/2013,26/04/2013,30,28.0,1.0,0,0.0,925,1,2013-04-26
5248871,1599057,26/04/2013,26/04/2013,594,28.0,1.0,0,0.0,921,4,2013-04-26
5248872,1599057,26/04/2013,26/04/2013,593,28.0,1.0,0,0.0,921,4,2013-04-26
5248873,1599057,26/04/2013,26/04/2013,6,28.0,1.0,0,0.0,921,4,2013-04-26
5248874,1599057,26/04/2013,26/04/2013,51,28.0,1.0,0,0.0,921,4,2013-04-26
5248875,1599057,26/04/2013,26/04/2013,3,28.0,1.0,0,0.0,921,4,2013-04-26
5248876,1599057,01/01/2500,26/04/2013,594,28.0,1.0,0,0.0,921,1,NaT
5248877,1599057,01/01/2500,26/04/2013,594,28.0,1.0,0,0.0,921,2,NaT
5248878,1599057,01/01/2500,26/04/2013,554,4.0,0.0,0,0.0,921,2,NaT
5248879,1599057,01/01/2500,26/04/2013,554,4.0,0.0,0,0.0,921,3,NaT
5248880,1599057,01/01/2500,26/04/2013,7,100.0,8.0,0,0.0,921,5,NaT
5248881,1599057,01/01/2500,26/04/2013,7,100.0,8.0,0,0.0,921,6,NaT
5248882,1599057,01/01/2500,26/04/2013,90,10.0,0.0,0,0.0,6,2,NaT
5248883,1599057,01/01/2500,26/04/2013,90,10.0,0.0,0,0.0,6,3,NaT
5248884,1599057,01/01/2500,26/04/2013,30,28.0,1.0,0,0.0,925,2,NaT
5248885,1599057,01/01/2500,26/04/2013,30,28.0,1.0,0,0.0,925,3,NaT
5248886,1599057,01/01/2500,26/04/2013,593,28.0,1.0,0,0.0,921,5,NaT
5248887,1599057,01/01/2500,26/04/2013,593,28.0,1.0,0,0.0,921,6,NaT
5248888,1599057,01/01/2500,26/04/2013,6,28.0,1.0,0,0.0,921,5,NaT
5248889,1599057,01/01/2500,26/04/2013,6,28.0,1.0,0,0.0,921,6,NaT
5248890,1599057,01/01/2500,26/04/2013,51,28.0,1.0,0,0.0,921,5,NaT
5248891,1599057,01/01/2500,26/04/2013,51,28.0,1.0,0,0.0,921,6,NaT
5248892,1599057,01/01/2500,26/04/2013,3,28.0,1.0,0,0.0,921,5,NaT
5248893,1599057,01/01/2500,26/04/2013,3,28.0,1.0,0,0.0,921,6,NaT
5248894,1599057,26/04/2013,26/04/2013,14333,21.0,3.0,0,0.0,925,0,2013-04-26
5248895,1599057,13/05/2013,13/05/2013,11665,100.0,0.0,0,0.0,921,0,2013-05-13