In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
cd ../

/Users/zurfarosa/demres

In [3]:
import os
import sys

module_path = os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.append(module_path)

import pandas as pd
import numpy as np
from datetime import date, timedelta

import demres
from demres.definitions import ROOT_DIR
from demres.common.constants import entry_type
from demres.common import codelists,druglists
from demres.common.process_raw_data import *
from demres.dempred.constants import Study_Design as dempred_design

In [4]:
all_entries = pd.read_hdf('hdf/all_entries.hdf')

In [5]:
pt_features = create_pt_features()

In [6]:
pt_features = get_index_date_and_caseness_and_add_final_dementia_subtype(all_entries,pt_features)

In [7]:
pt_features = add_data_start_and_end_dates(all_entries,pt_features)

In [8]:
pt_features

,patid,gender,yob,pracid,index_date,isCase,final dementia medcode,data_start,data_end
0,57001,1,1932,001,2006-12-05,True,19477.0,1997-03-07,2013-05-17
1,60001,1,1924,001,NaT,False,NaN,1997-03-07,2013-05-20
2,149001,2,1919,001,2004-07-02,True,7572.0,1997-03-07,2004-11-17
3,364001,2,1937,001,NaT,False,NaN,1997-03-07,2013-05-17
4,432001,2,1920,001,NaT,False,NaN,1997-03-07,2013-04-15
5,519001,2,1927,001,NaT,False,NaN,1997-03-07,2013-05-07
6,543001,1,1940,001,2006-02-09,True,9509.0,1997-03-07,2006-10-05
7,558001,2,1937,001,NaT,False,NaN,1997-03-07,2013-04-17
8,644001,2,1935,001,2008-08-12,True,1350.0,1997-03-07,2013-05-17
9,663001,2,1918,001,NaT,False,NaN,1997-03-07,2013-05-14
10,676001,2,1930,001,NaT,False,NaN,1997-03-07,2013-04-30
11,702001,2,1922,001,2006-03-27,True,6578.0,1997-03-07,2009-08-03
12,718001,1,1922,001,2007-02-26,True,1917.0,1997-03-07,2013-02-12
13,746001,2,1927,001,NaT,False,NaN,1997-03-07,2008-12-19
14,774001,1,1929,001,NaT,False,NaN,1997-03-07,2013-05-16
15,802001,2,1924,001,2005-05-24,True,4693.0,1997-03-07,2011-09-28
16,803001,1,1923,001,2007-09-12,True,1350.0,1997-03-07,2012-01-19
17,819001,1,1927,001,NaT,False,NaN,1997-03-07,2013-05-14
18,821001,1,1922,001,NaT,False,NaN,1997-03-07,2013-05-02
19,830001,2,1921,001,NaT,False,NaN,1997-03-07,2006-03-24
20,853001,1,1920,001,NaT,False,NaN,1997-03-07,2013-05-17
21,960001,2,1919,001,NaT,False,NaN,1997-03-07,2012-11-22
22,1064001,2,1928,001,2011-03-03,True,1917.0,1997-03-07,2013-05-02
23,1142001,2,1917,001,2005-11-16,True,1350.0,1997-03-07,2007-05-02
24,1252001,2,1928,001,NaT,False,NaN,1997-03-07,2013-05-20
25,1645001,1,1929,001,2007-05-24,True,26270.0,1997-03-07,2013-04-23
26,1670001,2,1926,001,2003-02-01,True,1350.0,1997-03-07,2010-02-19
27,1791001,2,1918,001,NaT,False,NaN,1997-03-07,2012-12-24
28,1939001,1,1927,001,NaT,False,NaN,1997-03-07,2013-05-01
29,1946001,2,1928,001,NaT,False,NaN,1997-03-07,2013-05-01
...,...,...,...,...,...,...,...,...,...
94484,6787675,2,1928,675,2009-04-02,True,1917.0,1999-12-07,2011-06-07
94485,6826675,2,1921,675,NaT,False,NaN,1999-12-07,2013-05-03
94486,7037675,2,1921,675,NaT,False,NaN,1999-12-07,2013-05-07
94487,7405675,2,1938,675,2009-08-20,True,8195.0,1999-12-07,2013-05-08
94488,7411675,1,1929,675,2005-11-23,True,8195.0,1999-12-07,2012-04-26
94489,7534675,2,1923,675,NaT,False,NaN,1999-12-07,2012-06-11
94490,7728675,2,1930,675,NaT,False,NaN,1999-12-07,2012-05-09
94491,7834675,1,1937,675,NaT,False,NaN,1999-12-07,2013-05-02
94492,7853675,1,1936,675,NaT,False,NaN,1999-12-07,2013-04-26
94493,7860675,2,1912,675,2009-03-17,True,8195.0,1999-12-07,2009-11-14
94494,7934675,1,1924,675,NaT,False,NaN,1999-12-07,2013-05-03
94495,8129675,1,1923,675,NaT,False,NaN,1999-12-07,2012-04-17
94496,8130675,1,1912,675,2009-01-29,True,4357.0,1999-12-07,2009-03-11
94497,8234675,2,1921,675,2007-07-09,True,8195.0,1999-12-07,2007-11-01
94498,8251675,2,1933,675,NaT,False,NaN,1999-12-07,2013-04-29
94499,8430675,1,1928,675,NaT,False,NaN,1999-12-07,2012-03-05
94500,8440675,1,1922,675,NaT,False,NaN,1999-12-07,2013-03-19
94501,8597675,2,1921,675,2006-05-25,True,6578.0,2000-01-21,2011-08-25
94502,8757675,2,1928,675,NaT,False,NaN,2000-04-06,2010-09-21
94503,9381675,2,1937,675,2010-11-04,True,31016.0,2001-02-28,2013-05-01
94504,9829675,1,1931,675,2010-08-01,True,8195.0,2001-10-03,2013-04-25
94505,10220675,2,1932,675,2007-02-02,True,7664.0,2002-05-01,2010-10-28
94506,10259675,2,1919,675,2006-08-10,True,6578.0,2002-05-13,2009-01-29
94507,10417675,2,1922,675,NaT,False,NaN,2003-05-08,2013-05-09
94508,10526675,2,1920,675,2009-02-10,True,6578.0,2002-08-29,2012-12-11
94509,11194675,1,1919,675,2006-07-01,True,6578.0,2003-03-20,2008-01-14
94510,11265675,2,1925,675,2011-01-21,True,6578.0,2003-04-22,2012-07-24
94511,11503675,2,1929,675,NaT,False,NaN,2003-08-12,2008-10-29
94512,11617675,2,1924,675,2007-08-06,True,6578.0,2003-10-01,2008-01-31
94513,12742675,2,1913,675,NaT,False,NaN,2006-01-26,2012-02-16

In [11]:
years_after = dempred_design.years_of_data_after_index_date_required_by_controls
years_before = dempred_design.total_years_required_pre_index_date
pt_features = match_cases_and_controls(pt_features,years_post_index=years_after,years_pre_index=years_before)

In [31]:
pt_features = delete_unmatched_cases_and_controls(pt_features)

In [32]:
pt_features.to_csv('data/pt_data/processed_data/pt_features_dempred.csv',index=False)

In [36]:
pt_features.sort_values(by='matchid')

,patid,gender,yob,pracid,index_date,isCase,final dementia medcode,data_start,data_end,matchid
79,5413001,1,1932,001,2006-12-05,False,NaN,1997-03-07,2013-04-26,0.0
0,57001,1,1932,001,2006-12-05,True,19477.0,1997-03-07,2013-05-17,0.0
35,2286001,2,1919,001,2004-07-02,False,NaN,1997-03-07,2009-11-10,2.0
2,149001,2,1919,001,2004-07-02,True,7572.0,1997-03-07,2004-11-17,2.0
6,543001,1,1940,001,2006-02-09,True,9509.0,1997-03-07,2006-10-05,6.0
58,3914001,1,1940,001,2006-02-09,False,NaN,1997-03-07,2013-04-22,6.0
84,5898001,2,1935,001,2008-08-12,False,NaN,1997-03-07,2013-05-14,8.0
8,644001,2,1935,001,2008-08-12,True,1350.0,1997-03-07,2013-05-17,8.0
98,6891001,2,1922,001,2006-03-27,False,NaN,1997-03-07,2008-01-09,11.0
11,702001,2,1922,001,2006-03-27,True,6578.0,1997-03-07,2009-08-03,11.0
18,821001,1,1922,001,2007-02-26,False,NaN,1997-03-07,2013-05-02,12.0
12,718001,1,1922,001,2007-02-26,True,1917.0,1997-03-07,2013-02-12,12.0
15,802001,2,1924,001,2005-05-24,True,4693.0,1997-03-07,2011-09-28,15.0
168,11845001,2,1924,001,2005-05-24,False,NaN,1997-03-07,2013-05-16,15.0
81,5551001,1,1923,001,2007-09-12,False,NaN,1997-03-07,2012-01-04,16.0
16,803001,1,1923,001,2007-09-12,True,1350.0,1997-03-07,2012-01-19,16.0
22,1064001,2,1928,001,2011-03-03,True,1917.0,1997-03-07,2013-05-02,22.0
24,1252001,2,1928,001,2011-03-03,False,NaN,1997-03-07,2013-05-20,22.0
23,1142001,2,1917,001,2005-11-16,True,1350.0,1997-03-07,2007-05-02,23.0
190,16500001,2,1917,001,2005-11-16,False,NaN,2000-05-11,2007-07-11,23.0
25,1645001,1,1929,001,2007-05-24,True,26270.0,1997-03-07,2013-04-23,25.0
87,5988001,1,1929,001,2007-05-24,False,NaN,1997-03-07,2012-10-26,25.0
26,1670001,2,1926,001,2003-02-01,True,1350.0,1997-03-07,2010-02-19,26.0
133,9236001,2,1926,001,2003-02-01,False,NaN,1997-03-07,2013-05-02,26.0
30,2136001,2,1923,001,2009-03-16,True,6578.0,1997-03-07,2013-05-16,30.0
55,3807001,2,1923,001,2009-03-16,False,NaN,1997-03-07,2013-05-17,30.0
212,25301001,1,1922,001,2011-08-24,False,NaN,2006-09-01,2013-03-12,31.0
31,2150001,1,1922,001,2011-08-24,True,1917.0,1997-03-07,2013-04-05,31.0
34,2279001,1,1916,001,2004-09-06,True,1350.0,1997-03-07,2006-03-15,34.0
75,4991001,1,1916,001,2004-09-06,False,NaN,1997-03-07,2005-09-28,34.0
...,...,...,...,...,...,...,...,...,...,...
94479,6501675,1,1926,675,2007-08-15,True,6578.0,1999-12-07,2009-06-03,94479.0
94458,5507675,1,1926,675,2007-08-15,False,NaN,1999-12-07,2013-05-07,94479.0
94480,6635675,2,1931,675,2011-01-27,True,8195.0,1999-12-07,2013-05-03,94480.0
94432,3375675,2,1931,675,2011-01-27,False,NaN,1999-12-07,2013-05-02,94480.0
94484,6787675,2,1928,675,2009-04-02,True,1917.0,1999-12-07,2011-06-07,94484.0
94420,2537675,2,1928,675,2009-04-02,False,NaN,1999-12-07,2010-12-21,94484.0
94423,2727675,2,1938,675,2009-08-20,False,NaN,1999-12-07,2012-09-29,94487.0
94487,7405675,2,1938,675,2009-08-20,True,8195.0,1999-12-07,2013-05-08,94487.0
94392,702675,1,1929,675,2005-11-23,False,NaN,1999-12-07,2013-05-07,94488.0
94488,7411675,1,1929,675,2005-11-23,True,8195.0,1999-12-07,2012-04-26,94488.0
94425,2878675,2,1921,675,2007-07-09,False,NaN,2001-04-12,2010-03-02,94497.0
94497,8234675,2,1921,675,2007-07-09,True,8195.0,1999-12-07,2007-11-01,94497.0
94501,8597675,2,1921,675,2006-05-25,True,6578.0,2000-01-21,2011-08-25,94501.0
94485,6826675,2,1921,675,2006-05-25,False,NaN,1999-12-07,2013-05-03,94501.0
94412,2008675,2,1937,675,2010-11-04,False,NaN,1999-12-07,2013-05-08,94503.0
94503,9381675,2,1937,675,2010-11-04,True,31016.0,2001-02-28,2013-05-01,94503.0
94453,4828675,1,1931,675,2010-08-01,False,NaN,1999-12-07,2013-04-29,94504.0
94504,9829675,1,1931,675,2010-08-01,True,8195.0,2001-10-03,2013-04-25,94504.0
94505,10220675,2,1932,675,2007-02-02,True,7664.0,2002-05-01,2010-10-28,94505.0
94446,4371675,2,1932,675,2007-02-02,False,NaN,1999-12-07,2013-04-25,94505.0
94386,423675,2,1919,675,2006-08-10,False,NaN,1999-12-07,2013-01-23,94506.0
94506,10259675,2,1919,675,2006-08-10,True,6578.0,2002-05-13,2009-01-29,94506.0
94508,10526675,2,1920,675,2009-02-10,True,6578.0,2002-08-29,2012-12-11,94508.0
94434,3534675,2,1920,675,2009-02-10,False,NaN,1999-12-07,2013-04-22,94508.0
94401,1282675,1,1919,675,2006-07-01,False,NaN,1999-12-07,2013-04-18,94509.0
94509,11194675,1,1919,675,2006-07-01,True,6578.0,2003-03-20,2008-01-14,94509.0
94510,11265675,2,1925,675,2011-01-21,True,6578.0,2003-04-22,2012-07-24,94510.0
94436,3700675,2,1925,675,2011-01-21,False,NaN,1999-12-07,2013-04-25,94510.0
94512,11617675,2,1924,675,2007-08-06,True,6578.0,2003-10-01,2008-01-31,94512.0
94404,1486675,2,1924,675,2007-08-06,False,NaN,1999-12-07,2013-05-02,94512.0